In [ ]:
# 파일을 순차적으로 불러오기
# 월별 승하차 인원 합계 구하기
# 월별로 데이터 셋으로 만들기 
# 월별 데이터셋 하나로 합치기
# csv 파일로 만들기

In [1]:
import pandas as pd

In [2]:
# 파일 불러오기
# 파일을 순차적으로 불러오기
# 월별 승하차 인원 합계 구하기
# 월별로 데이터 셋으로 만들기 

# 2015
sub_in_month_2015 = []
sub_out_month_2015 = []
for i in range(1,13):
    tmp_csv = pd.read_csv(f'./2015/CARD_SUBWAY_MONTH_2015{i:0>2}.csv', encoding='cp949')
    tmp_sum1 = tmp_csv['승차총승객수'].sum()
    tmp_sum2 = tmp_csv['하차총승객수'].sum()
    sub_in_month_2015.append(tmp_sum1)
    sub_out_month_2015.append(tmp_sum2)

# print(len(sub_in_month_2015))
# print(len(sub_out_month_2015))
# sub_in_month_2015

In [3]:
# 2016
sub_in_month_2016 = []
sub_out_month_2016 = []
for i in range(1,13):
    tmp_csv = pd.read_csv(f'./2016/CARD_SUBWAY_MONTH_2016{i:0>2}.csv', encoding='cp949')
    tmp_sum1 = tmp_csv['승차총승객수'].sum()
    tmp_sum2 = tmp_csv['하차총승객수'].sum()
    sub_in_month_2016.append(tmp_sum1)
    sub_out_month_2016.append(tmp_sum2)

In [5]:
# 2017
sub_in_month_2017 = []
sub_out_month_2017 = []
for i in range(1,13):
    tmp_csv = pd.read_csv(f'./2017/CARD_SUBWAY_MONTH_2017{i:0>2}.csv', encoding='cp949')
    tmp_sum1 = tmp_csv['승차총승객수'].sum()
    tmp_sum2 = tmp_csv['하차총승객수'].sum()
    sub_in_month_2017.append(tmp_sum1)
    sub_out_month_2017.append(tmp_sum2)

In [6]:
# 2018
sub_in_month_2018 = []
sub_out_month_2018 = []
for i in range(1,13):
    tmp_csv = pd.read_csv(f'./2018/CARD_SUBWAY_MONTH_2018{i:0>2}.csv', encoding='cp949')
    tmp_sum1 = tmp_csv['승차총승객수'].sum()
    tmp_sum2 = tmp_csv['하차총승객수'].sum()
    sub_in_month_2018.append(tmp_sum1)
    sub_out_month_2018.append(tmp_sum2)

In [7]:
# 2019
sub_in_month_2019 = []
sub_out_month_2019 = []
for i in range(1,13):
    tmp_csv = pd.read_csv(f'./2019/CARD_SUBWAY_MONTH_2019{i:0>2}.csv', encoding='cp949')
    tmp_sum1 = tmp_csv['승차총승객수'].sum()
    tmp_sum2 = tmp_csv['하차총승객수'].sum()
    sub_in_month_2019.append(tmp_sum1)
    sub_out_month_2019.append(tmp_sum2)

In [16]:
# 2020
sub_in_month_2020 = []
sub_out_month_2020 = []
for i in range(1,13):
    tmp_csv = pd.read_csv(f'./2020/CARD_SUBWAY_MONTH_2020{i:0>2}.csv', encoding='cp949')
    tmp_sum1 = tmp_csv['승차총승객수'].sum()
    tmp_sum2 = tmp_csv['하차총승객수'].sum()
    sub_in_month_2020.append(tmp_sum1)
    sub_out_month_2020.append(tmp_sum2)

UnicodeDecodeError: 'cp949' codec can't decode byte 0xbf in position 2: illegal multibyte sequence

In [18]:
all_in_list = []
all_in_list += sub_in_month_2015
all_in_list += sub_in_month_2016
all_in_list += sub_in_month_2017
all_in_list += sub_in_month_2018
all_in_list += sub_in_month_2019

all_in_list

[437278792,
 376783122,
 478541350,
 236022558.0,
 234296965.0,
 203119706.0,
 218172679.0,
 210102718.0,
 214486255.0,
 234349102.0,
 223497154.0,
 233155014.0,
 209273211.0,
 193647156.0,
 236377700.0,
 228348725.0,
 234166653.0,
 222611572.0,
 219465787.0,
 214193213.0,
 210698312.0,
 229681635.0,
 228122715.0,
 231777262.0,
 205502324.0,
 204936457.0,
 237179303.0,
 227780690.0,
 227836340.0,
 221308605.0,
 214815271.0,
 213776584.0,
 228240103.0,
 208204249.0,
 228254078.0,
 228619448.0,
 213710722.0,
 189110822.0,
 235296346.0,
 228971702.0,
 235253127.0,
 219426719.0,
 221632774.0,
 214216200.0,
 208561416.0,
 235739024.0,
 232960426.0,
 227834001.0,
 221848014.0,
 190335812.0,
 233813277.0,
 235928571.0,
 243338053.0,
 221547039.0,
 229254848.0,
 219672653.0,
 214006728.0,
 240101848.0,
 232284482.0,
 234574904.0]

In [19]:
all_out_list = []
all_out_list += sub_out_month_2015
all_out_list += sub_out_month_2016
all_out_list += sub_out_month_2017
all_out_list += sub_out_month_2018
all_out_list += sub_out_month_2019

all_out_list

[435066846,
 374884262,
 476451614,
 234898916.0,
 233170178.0,
 202399930.0,
 217265058.0,
 209130600.0,
 213578097.0,
 233341479.0,
 222600581.0,
 232154505.0,
 208318335.0,
 192773472.0,
 235428077.0,
 227431434.0,
 233175677.0,
 221688838.0,
 218462009.0,
 213224598.0,
 209805032.0,
 228636055.0,
 227122581.0,
 230724428.0,
 204531987.0,
 203985242.0,
 236204018.0,
 226789893.0,
 226799684.0,
 220362163.0,
 213858564.0,
 212809390.0,
 227170000.0,
 207196105.0,
 227278770.0,
 227669424.0,
 212849469.0,
 188340921.0,
 234409973.0,
 228096920.0,
 234314673.0,
 218542730.0,
 220746413.0,
 213330490.0,
 207742249.0,
 234837595.0,
 232096833.0,
 226826591.0,
 220898375.0,
 189500198.0,
 232879549.0,
 235005777.0,
 242380504.0,
 220663596.0,
 228353976.0,
 218759210.0,
 213170622.0,
 239145883.0,
 231429861.0,
 233673639.0]

In [20]:
all_sub_month_list = {'승차총승객수':all_in_list, '하차총승객수':all_out_list}
index = ['2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
         '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
         '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
         '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12',
         '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
         '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
         '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
         '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
         '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
         '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12',
        ]
f = pd.DataFrame(all_sub_month_list, index=index)
f

              승차총승객수       하차총승객수
2015-01  437278792.0  435066846.0
2015-02  376783122.0  374884262.0
2015-03  478541350.0  476451614.0
2015-04  236022558.0  234898916.0
2015-05  234296965.0  233170178.0
2015-06  203119706.0  202399930.0
2015-07  218172679.0  217265058.0
2015-08  210102718.0  209130600.0
2015-09  214486255.0  213578097.0
2015-10  234349102.0  233341479.0
2015-11  223497154.0  222600581.0
2015-12  233155014.0  232154505.0
2016-01  209273211.0  208318335.0
2016-02  193647156.0  192773472.0
2016-03  236377700.0  235428077.0
2016-04  228348725.0  227431434.0
2016-05  234166653.0  233175677.0
2016-06  222611572.0  221688838.0
2016-07  219465787.0  218462009.0
2016-08  214193213.0  213224598.0
2016-09  210698312.0  209805032.0
2016-10  229681635.0  228636055.0
2016-11  228122715.0  227122581.0
2016-12  231777262.0  230724428.0
2017-01  205502324.0  204531987.0
2017-02  204936457.0  203985242.0
2017-03  237179303.0  236204018.0
2017-04  227780690.0  226789893.0
2017-05  227836340.0  226799684.0
2017-06  221308605.0  220362163.0
2017-07  214815271.0  213858564.0
2017-08  213776584.0  212809390.0
2017-09  228240103.0  227170000.0
2017-10  208204249.0  207196105.0
2017-11  228254078.0  227278770.0
2017-12  228619448.0  227669424.0
2018-01  213710722.0  212849469.0
2018-02  189110822.0  188340921.0
2018-03  235296346.0  234409973.0
2018-04  228971702.0  228096920.0
2018-05  235253127.0  234314673.0
2018-06  219426719.0  218542730.0
2018-07  221632774.0  220746413.0
2018-08  214216200.0  213330490.0
2018-09  208561416.0  207742249.0
2018-10  235739024.0  234837595.0
2018-11  232960426.0  232096833.0
2018-12  227834001.0  226826591.0
2019-01  221848014.0  220898375.0
2019-02  190335812.0  189500198.0
2019-03  233813277.0  232879549.0
2019-04  235928571.0  235005777.0
2019-05  243338053.0  242380504.0
2019-06  221547039.0  220663596.0
2019-07  229254848.0  228353976.0
2019-08  219672653.0  218759210.0
2019-09  214006728.0  213170622.0
2019-10  240101848.0  239145883.0
2019-11  232284482.0  231429861.0
2019-12  234574904.0  233673639.0

In [21]:
f.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60 entries, 2015-01 to 2019-12
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   승차총승객수  60 non-null     float64
 1   하차총승객수  60 non-null     float64
dtypes: float64(2)
memory usage: 1.4+ KB

In [23]:
f.to_csv('sub_month_2015-2019.csv', index=True)