In [5]:
import pandas as pd
from numpy import nan

In [6]:
test = [nan, nan, nan, nan, nan, nan, -9.1, nan, nan, nan, nan, nan, nan, nan, 2.6, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
df = pd.DataFrame(test)
df

      0
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6  -9.1
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
12  NaN
13  NaN
14  2.6
15  NaN
16  NaN
17  NaN
18  NaN
19  NaN
20  NaN
21  NaN
22  NaN
23  NaN
24  NaN

In [7]:
df.interpolate(method='linear',limit_direction='both')

         0
0  -9.1000
1  -9.1000
2  -9.1000
3  -9.1000
4  -9.1000
5  -9.1000
6  -9.1000
7  -7.6375
8  -6.1750
9  -4.7125
10 -3.2500
11 -1.7875
12 -0.3250
13  1.1375
14  2.6000
15  2.6000
16  2.6000
17  2.6000
18  2.6000
19  2.6000
20  2.6000
21  2.6000
22  2.6000
23  2.6000
24  2.6000

## 나주시 농업기상정보시스템
* 주소 : https://weather.naju.go.kr/

### selenium 이용 웹 크롤링 테스트

In [8]:
from selenium import webdriver
from bs4 import BeautifulSoup

In [9]:
import time

In [ ]:
driver = webdriver.Chrome("chromedriver_94")
url = "https://weather.naju.go.kr/agri_meteo/agri_time.html"
driver.get(url)

In [ ]:
# 관측기간 xpath : //*[@id="timed_date"]
# 조회 버튼 xpath : //*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img
search = driver.find_element_by_xpath('//*[@id="timed_date"]')
button = driver.find_element_by_xpath('//*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img')

search.click()
search.clear()
search.send_keys("20131001")
button.click()

In [ ]:
page = driver.page_source
soup = BeautifulSoup(page, 'lxml')
soup.title

In [ ]:
th = soup.find_all('th')

In [ ]:
th

In [ ]:
### 관측시간 행 xpath 값
# //*[@id="content_lists"]/table/tbody/tr[2]/td[1]
# //*[@id="content_lists"]/table/tbody/tr[3]/td[1]
# ...
# //*[@id="content_lists"]/table/tbody/tr[25]/td[1]

In [ ]:
for i in range(2, 26):
    p = f'//*[@id="content_lists"]/table/tbody/tr[{i}]/td[1]'
    tmp = driver.find_element_by_xpath(p)
    print(tmp.text)

In [ ]:
### 기온 행 xpath 값
# //*[@id="content_lists"]/table/tbody/tr[2]/td[2]
# //*[@id="content_lists"]/table/tbody/tr[3]/td[2]
# ...
# //*[@id="content_lists"]/table/tbody/tr[25]/td[2]

In [ ]:
for i in range(2, 26):
    p = f'//*[@id="content_lists"]/table/tbody/tr[{i}]/td[2]'
    tmp = driver.find_element_by_xpath(p)
    print(tmp.text)

In [19]:
y=16
m=6
d=11
print(f"20{y}{m:0>2}{d:0>2}")

20160611

In [ ]:
# 2016년 2월 : 29일
# 나머지 2월 : 28일

# 1,3,5,7,8,10,12 : 31일
# 4,6,9,11 : 30일

In [ ]:
# 2013-2015년
# 리스트 길이(날짜, 온도) : 25585, 25584
driver = webdriver.Chrome("chromedriver_94")
url = "https://weather.naju.go.kr/agri_meteo/agri_time.html"
driver.get(url)

# 관측기간 xpath : //*[@id="timed_date"]
# 조회 버튼 xpath : //*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img
search = driver.find_element_by_xpath('//*[@id="timed_date"]')
button = driver.find_element_by_xpath('//*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img')

date_list_1315 = []
tp_list_1315 = []
for y in range(13,16):
    for m in range(1, 13):
        if m == 2:
            for d in range(1, 29):
                search = driver.find_element_by_xpath('//*[@id="timed_date"]')
                button = driver.find_element_by_xpath('//*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img')
                date = f"20{y}{m:0>2}{d:0>2}"
                search.click()
                search.clear()
                search.send_keys(date)
                button.click()
                time.sleep(0.5)
                # 날짜 가져오기
                for i in range(2, 26):
                    p = f'//*[@id="content_lists"]/table/tbody/tr[{i}]/td[1]'
                    try:
                        tmp = driver.find_element_by_xpath(p)
                        date_list_1315.append(tmp)
                    except:
                        pass
                # 기온 가져오기
                for i in range(2, 26):
                    p = f'//*[@id="content_lists"]/table/tbody/tr[{i}]/td[2]'
                    try:
                        tmp = driver.find_element_by_xpath(p)
                        tp_list_1315.append(tmp)
                    except:
                        pass
        # 1,3,5,7,8,10,12 : 31일
        if m in [1,3,5,7,8,10,12]:
            for d in range(1, 32):
                search = driver.find_element_by_xpath('//*[@id="timed_date"]')
                button = driver.find_element_by_xpath('//*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img')
                date = f"20{y}{m:0>2}{d:0>2}"
                search.click()
                search.clear()
                search.send_keys(date)
                button.click()
                time.sleep(0.5)
                # 날짜 가져오기
                for i in range(2, 26):
                    p = f'//*[@id="content_lists"]/table/tbody/tr[{i}]/td[1]'
                    try:
                        tmp = driver.find_element_by_xpath(p)
                        date_list_1315.append(tmp)
                    except:
                        pass
                # 기온 가져오기
                for i in range(2, 26):
                    p = f'//*[@id="content_lists"]/table/tbody/tr[{i}]/td[2]'
                    try:
                        tmp = driver.find_element_by_xpath(p)
                        tp_list_1315.append(tmp)
                    except:
                        pass
        # 4,6,9,11 : 30일
        if m in [4,6,9,11]:
            for d in range(1, 31):
                search = driver.find_element_by_xpath('//*[@id="timed_date"]')
                button = driver.find_element_by_xpath('//*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img')
                date = f"20{y}{m:0>2}{d:0>2}"
                search.click()
                search.clear()
                search.send_keys(date)
                button.click()
                time.sleep(0.5)
                # 날짜 가져오기
                for i in range(2, 26):
                    p = f'//*[@id="content_lists"]/table/tbody/tr[{i}]/td[1]'
                    try:
                        tmp = driver.find_element_by_xpath(p)
                        date_list_1315.append(tmp)
                    except:
                        pass
                # 기온 가져오기
                for i in range(2, 26):
                    p = f'//*[@id="content_lists"]/table/tbody/tr[{i}]/td[2]'
                    try:
                        tmp = driver.find_element_by_xpath(p)
                        tp_list_1315.append(tmp)
                    except:
                        pass

print(len(date_list_1315), len(tp_list_1315))

In [23]:
# 한해 시간별 온도 크롤링 함수

def year_temp(year):
    # chromedriver 로드
    driver = webdriver.Chrome("chromedriver_94")
    url = "https://weather.naju.go.kr/agri_meteo/agri_time.html"
    driver.get(url)
    time.sleep(1)
    # 날짜, 온도 리스트 준비
    date_list = []
    tp_list = []
    # 웹 크롤링
    for m in range(1, 13):
        if m == 2:
            for d in range(1, 29):
                search = driver.find_element_by_xpath('//*[@id="timed_date"]')
                button = driver.find_element_by_xpath('//*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img')
                date = f"{year}{m:0>2}{d:0>2}"
                search.click()
                search.clear()
                search.send_keys(date)
                button.click()
                time.sleep(0.5)
                # 날짜 가져오기
                for i in range(2, 26):
                    p = f'//*[@id="content_lists"]/table/tbody/tr[{i}]/td[1]'
                    try:
                        tmp = driver.find_element_by_xpath(p)
                        date_list.append(tmp)
                    except:
                        pass
                # 기온 가져오기
                for i in range(2, 26):
                    p = f'//*[@id="content_lists"]/table/tbody/tr[{i}]/td[2]'
                    try:
                        tmp = driver.find_element_by_xpath(p)
                        tp_list.append(tmp)
                    except:
                        pass
        # 1,3,5,7,8,10,12 : 31일
        if m in [1,3,5,7,8,10,12]:
            for d in range(1, 32):
                search = driver.find_element_by_xpath('//*[@id="timed_date"]')
                button = driver.find_element_by_xpath('//*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img')
                date = f"{year}{m:0>2}{d:0>2}"
                search.click()
                search.clear()
                search.send_keys(date)
                button.click()
                time.sleep(0.5)
                # 날짜 가져오기
                for i in range(2, 26):
                    p = f'//*[@id="content_lists"]/table/tbody/tr[{i}]/td[1]'
                    try:
                        tmp = driver.find_element_by_xpath(p)
                        date_list.append(tmp)
                    except:
                        pass
                # 기온 가져오기
                for i in range(2, 26):
                    p = f'//*[@id="content_lists"]/table/tbody/tr[{i}]/td[2]'
                    try:
                        tmp = driver.find_element_by_xpath(p)
                        tp_list.append(tmp)
                    except:
                        pass
        # 4,6,9,11 : 30일
        if m in [4,6,9,11]:
            for d in range(1, 31):
                search = driver.find_element_by_xpath('//*[@id="timed_date"]')
                button = driver.find_element_by_xpath('//*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img')
                date = f"{year}{m:0>2}{d:0>2}"
                search.click()
                search.clear()
                search.send_keys(date)
                button.click()
                time.sleep(0.5)
                # 날짜 가져오기
                for i in range(2, 26):
                    p = f'//*[@id="content_lists"]/table/tbody/tr[{i}]/td[1]'
                    try:
                        tmp = driver.find_element_by_xpath(p)
                        date_list.append(tmp)
                    except:
                        pass
                # 기온 가져오기
                for i in range(2, 26):
                    p = f'//*[@id="content_lists"]/table/tbody/tr[{i}]/td[2]'
                    try:
                        tmp = driver.find_element_by_xpath(p)
                        tp_list.append(tmp)
                    except:
                        pass
    a = date_list
    b = tp_list
    print(len(date_list), len(tp_list))
    return a, b

In [27]:
# 2013년
date13, temp13 = year_temp(2013)

8660 8659

### 2013년 날짜수와 온도 수 맞지 않음.
* bs 이용

In [28]:
print(len(date13), len(temp13))

8660 8659

In [24]:
def t(year):
    a = f'{year}년도'
    b = f'{year+1}년도'
    return a, b
a, b = t(2020)

In [25]:
b

'2021년도'

In [26]:
a

'2020년도'

In [29]:
# 2014년
%time
date14, temp14 = year_temp(2014)

Wall time: 0 ns
8531 8531

### bs로 크롤링하기

In [ ]:
from bs4 import BeautifulSoup

In [30]:
driver = webdriver.Chrome("chromedriver_94")
url = "https://weather.naju.go.kr/agri_meteo/agri_time.html"
driver.get(url)

In [31]:
# 관측기간 xpath : //*[@id="timed_date"]
# 조회 버튼 xpath : //*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img
search = driver.find_element_by_xpath('//*[@id="timed_date"]')
button = driver.find_element_by_xpath('//*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img')

search.click()
search.clear()
search.send_keys("20131001")
button.click()

In [33]:
page = driver.page_source
soup = BeautifulSoup(page, 'lxml')
soup.title

In [68]:
th = soup.find_all('th')

In [69]:
for one in th:
    print(one.text)

관측시간(년-월-일 시:분)
기온(℃)
습도(%)
풍향


풍속(km/h)
풍속(m/s)


기압(hPa)
강수량(mm)
이슬유무
일사량(W/㎡)
지중온도(%)
초상온도(℃)
토양수분(%)
관측시간(년-월-일 시:분)
기온(℃)
습도(%)
풍향
풍속(m/s)
기압(hPa)
강수량(mm)
이슬유무
일사량(W/㎡)
지중온도(%)
초상온도(℃)
토양수분(%)

In [70]:
td = soup.find_all('td')

In [71]:
len(td)

600

In [72]:
len(td)/13

46.15384615384615

In [83]:
int(len(td)/13)

46

In [73]:
td[597]

In [74]:
td[0:2]

In [75]:
td[13:15]

In [76]:
for i in range(47):
    print(td[i*13].text)

2013-10-02 00:00
2013-10-01 23:00
2013-10-01 22:00
2013-10-01 21:00
2013-10-01 20:00
2013-10-01 19:00
2013-10-01 18:00
2013-10-01 17:00
2013-10-01 16:00
2013-10-01 15:00
2013-10-01 14:00
2013-10-01 13:00
2013-10-01 12:00
2013-10-01 11:00
2013-10-01 10:00
2013-10-01 09:00
2013-10-01 08:00
2013-10-01 07:00
2013-10-01 06:00
2013-10-01 05:00
2013-10-01 04:00
2013-10-01 03:00
2013-10-01 02:00
2013-10-01 01:00
2013-10-02 00:00
20.0
91.0
서
0.5
-
3.0

-
22.8
33.1
33.0
2013-10-01 11:00
21.1
90.1
북북서
0.0
-
0.0

-
21.5
17.5

In [77]:
for i in range(47):
    if len(td[i*13].text) == 16:
        print(td[i*13].text)

2013-10-02 00:00
2013-10-01 23:00
2013-10-01 22:00
2013-10-01 21:00
2013-10-01 20:00
2013-10-01 19:00
2013-10-01 18:00
2013-10-01 17:00
2013-10-01 16:00
2013-10-01 15:00
2013-10-01 14:00
2013-10-01 13:00
2013-10-01 12:00
2013-10-01 11:00
2013-10-01 10:00
2013-10-01 09:00
2013-10-01 08:00
2013-10-01 07:00
2013-10-01 06:00
2013-10-01 05:00
2013-10-01 04:00
2013-10-01 03:00
2013-10-01 02:00
2013-10-01 01:00
2013-10-02 00:00
2013-10-01 11:00

In [78]:
test_date_list = []
for i in range(47):
    if len(td[i*13].text) == 16:
        test_date_list.append(td[i*13].text)
        test_date_list = set(test_date_list)
        test_date_list = list(test_date_list)
test_date_list

['2013-10-01 03:00',
 '2013-10-01 05:00',
 '2013-10-02 00:00',
 '2013-10-01 01:00',
 '2013-10-01 14:00',
 '2013-10-01 06:00',
 '2013-10-01 23:00',
 '2013-10-01 17:00',
 '2013-10-01 10:00',
 '2013-10-01 09:00',
 '2013-10-01 16:00',
 '2013-10-01 07:00',
 '2013-10-01 04:00',
 '2013-10-01 08:00',
 '2013-10-01 02:00',
 '2013-10-01 13:00',
 '2013-10-01 19:00',
 '2013-10-01 21:00',
 '2013-10-01 15:00',
 '2013-10-01 18:00',
 '2013-10-01 11:00',
 '2013-10-01 12:00',
 '2013-10-01 22:00',
 '2013-10-01 20:00']

In [79]:
len(test_date_list)

24

In [80]:
test_date_list.sort()

In [81]:
test_date_list

['2013-10-01 01:00',
 '2013-10-01 02:00',
 '2013-10-01 03:00',
 '2013-10-01 04:00',
 '2013-10-01 05:00',
 '2013-10-01 06:00',
 '2013-10-01 07:00',
 '2013-10-01 08:00',
 '2013-10-01 09:00',
 '2013-10-01 10:00',
 '2013-10-01 11:00',
 '2013-10-01 12:00',
 '2013-10-01 13:00',
 '2013-10-01 14:00',
 '2013-10-01 15:00',
 '2013-10-01 16:00',
 '2013-10-01 17:00',
 '2013-10-01 18:00',
 '2013-10-01 19:00',
 '2013-10-01 20:00',
 '2013-10-01 21:00',
 '2013-10-01 22:00',
 '2013-10-01 23:00',
 '2013-10-02 00:00']

In [82]:
a = test_date_list.index("2013-10-02 00:00")
test_date_list[a] = "2013-10-01 24:00"
test_date_list

['2013-10-01 01:00',
 '2013-10-01 02:00',
 '2013-10-01 03:00',
 '2013-10-01 04:00',
 '2013-10-01 05:00',
 '2013-10-01 06:00',
 '2013-10-01 07:00',
 '2013-10-01 08:00',
 '2013-10-01 09:00',
 '2013-10-01 10:00',
 '2013-10-01 11:00',
 '2013-10-01 12:00',
 '2013-10-01 13:00',
 '2013-10-01 14:00',
 '2013-10-01 15:00',
 '2013-10-01 16:00',
 '2013-10-01 17:00',
 '2013-10-01 18:00',
 '2013-10-01 19:00',
 '2013-10-01 20:00',
 '2013-10-01 21:00',
 '2013-10-01 22:00',
 '2013-10-01 23:00',
 '2013-10-01 24:00']

In [86]:
for i in range(47):
    j = i*13 +1
    if len(td[j].text) == 3 or len(td[j].text) == 4 or len(td[j].text) == 5:
        print(td[j].text)

19.8
20.0
20.0
20.6
21.0
21.5
22.0
23.8
26.1
29.3
30.4
29.0
28.1
25.5
21.1
19.4
18.7
17.8
17.1
16.2
16.3
16.7
17.1
17.5
19.8
90.2
북북서
0.1
3.0
23.3
31.5
33.0
25.5
86.2
0.0
0.0
21.3
17.0
33.2

In [88]:
test_tp_list = []
for i in range(len(test_date_list)):
    j = i * 13 + 1
    if len(td[j].text) == 3 or len(td[j].text) == 4 or len(td[j].text) == 5:
        test_tp_list.append(td[j].text)
test_tp_list

['19.8',
 '20.0',
 '20.0',
 '20.6',
 '21.0',
 '21.5',
 '22.0',
 '23.8',
 '26.1',
 '29.3',
 '30.4',
 '29.0',
 '28.1',
 '25.5',
 '21.1',
 '19.4',
 '18.7',
 '17.8',
 '17.1',
 '16.2',
 '16.3',
 '16.7',
 '17.1',
 '17.5']

In [89]:
len(test_tp_list)

24

In [91]:
for i in range(23,-1,-1):
    print(i)

23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [93]:
new_test_tp_list = []
for i in range(23,-1,-1):
    tmp = test_tp_list[i]
    new_test_tp_list.append(tmp)
new_test_tp_list

['17.5',
 '17.1',
 '16.7',
 '16.3',
 '16.2',
 '17.1',
 '17.8',
 '18.7',
 '19.4',
 '21.1',
 '25.5',
 '28.1',
 '29.0',
 '30.4',
 '29.3',
 '26.1',
 '23.8',
 '22.0',
 '21.5',
 '21.0',
 '20.6',
 '20.0',
 '20.0',
 '19.8']

In [138]:
# webdriver로 페이지 접속
driver = webdriver.Chrome("chromedriver_94")
url = "https://weather.naju.go.kr/agri_meteo/agri_time.html"
driver.get(url)
time.sleep(1)
search = driver.find_element_by_xpath('//*[@id="timed_date"]')
button = driver.find_element_by_xpath('//*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img')
# 입력창 클릭 후 내용 지우고 입력하기
search.click()
search.clear()
search.send_keys("20130309")
button.click()
time.sleep(0.5)
# bs에 담기
page = driver.page_source
soup = BeautifulSoup(page, 'lxml')
td = soup.find_all('td')

In [139]:
td[:6]

[<td>2013-03-10 00:00</td>,
 <td>12.9</td>,
 <td>73.8</td>,
 <td>서북서</td>,
 <td class="m" style="display: none;">3.8</td>,
 <td class="km" style="display: table-cell;">13.7</td>]

In [140]:
num = int(len(td)/13)
date_list = []
for i in range(num):
    if len(td[i*13].text) == 16:
        date_list.append(td[i*13].text)
        date_list = set(date_list)
        date_list = list(date_list)
# 날짜 순서 정렬 및 24시날짜 하루 당기기
# 각 달 마지막 날짜 처리 문제
date_list.sort()
e = d+1
n = m+1
if f"2013-{m:0>2}-{e:0>2} 00:00" in date_list:
    a = date_list.index(f"2013-{m:0>2}-{e:0>2} 00:00")
    date_list[a] = f"2013-{m:0>2}-{d:0>2} 24:00"
if f"2013-{n:0>2}-01 00:00" in date_list:
    a = date_list.index(f"2013-{n:0>2}-01 00:00")
    date_list[a] = f"2013-{m:0>2}-{d:0>2} 24:00"
length = len(date_list)
date_list

['2013-03-09 01:00',
 '2013-03-09 02:00',
 '2013-03-09 03:00',
 '2013-03-09 04:00',
 '2013-03-09 05:00',
 '2013-03-09 06:00',
 '2013-03-09 07:00',
 '2013-03-09 08:00',
 '2013-03-09 09:00',
 '2013-03-09 10:00',
 '2013-03-09 11:00',
 '2013-03-09 12:00',
 '2013-03-09 13:00',
 '2013-03-09 14:00',
 '2013-03-09 15:00',
 '2013-03-09 16:00',
 '2013-03-09 17:00',
 '2013-03-09 18:00',
 '2013-03-09 19:00',
 '2013-03-09 20:00',
 '2013-03-09 21:00',
 '2013-03-09 22:00',
 '2013-03-09 23:00',
 '2013-03-10 00:00']

In [141]:
from numpy import nan

In [143]:
float('12.5')

12.5

In [142]:
# 온도 기록
# 날짜 만큼만 온도 가져오기
tp_list = []
for i in range(length):
    j = i * 13 + 1
    if td[j] == nan:
        tp_list.append(nan)
    else:
        tp_list.append(td[j].text)
tp_list

ValueError: could not convert string to float: '-'

In [127]:
len(tp_list)

24

In [129]:
if '-' in tp_list:
    print("yes")

yes

In [130]:
test_sr = pd.DataFrame({"연-월-일 시간":date_list,"기온":tp_list})
test_sr

            연-월-일 시간    기온
0   2013-03-09 01:00  12.9
1   2013-03-09 02:00  13.7
2   2013-03-09 03:00  15.5
3   2013-03-09 04:00  14.8
4   2013-03-09 05:00  16.1
5   2013-03-09 06:00  16.7
6   2013-03-09 07:00  19.1
7   2013-03-09 08:00  21.4
8   2013-03-09 09:00  22.9
9   2013-03-09 10:00  24.2
10  2013-03-09 11:00     -
11  2013-03-09 12:00     -
12  2013-03-09 13:00  20.8
13  2013-03-09 14:00  16.2
14  2013-03-09 15:00   9.8
15  2013-03-09 16:00   3.9
16  2013-03-09 17:00   0.6
17  2013-03-09 18:00   0.5
18  2013-03-09 19:00   0.8
19  2013-03-09 20:00   1.4
20  2013-03-09 21:00   1.1
21  2013-03-09 22:00   0.7
22  2013-03-09 23:00   1.5
23  2013-03-10 00:00   1.7

In [131]:
test_sr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연-월-일 시간  24 non-null     object
 1   기온        24 non-null     object
dtypes: object(2)
memory usage: 512.0+ bytes

In [135]:
test_sr.loc[test_sr['기온']=='-','기온']

10    -
11    -
Name: 기온, dtype: object

In [136]:
test_sr.loc[test_sr['기온']=='-','기온'] = nan
test_sr

            연-월-일 시간    기온
0   2013-03-09 01:00  12.9
1   2013-03-09 02:00  13.7
2   2013-03-09 03:00  15.5
3   2013-03-09 04:00  14.8
4   2013-03-09 05:00  16.1
5   2013-03-09 06:00  16.7
6   2013-03-09 07:00  19.1
7   2013-03-09 08:00  21.4
8   2013-03-09 09:00  22.9
9   2013-03-09 10:00  24.2
10  2013-03-09 11:00   NaN
11  2013-03-09 12:00   NaN
12  2013-03-09 13:00  20.8
13  2013-03-09 14:00  16.2
14  2013-03-09 15:00   9.8
15  2013-03-09 16:00   3.9
16  2013-03-09 17:00   0.6
17  2013-03-09 18:00   0.5
18  2013-03-09 19:00   0.8
19  2013-03-09 20:00   1.4
20  2013-03-09 21:00   1.1
21  2013-03-09 22:00   0.7
22  2013-03-09 23:00   1.5
23  2013-03-10 00:00   1.7

In [137]:
test_sr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연-월-일 시간  24 non-null     object
 1   기온        22 non-null     object
dtypes: object(2)
memory usage: 512.0+ bytes

In [148]:
# webdriver로 페이지 접속
driver = webdriver.Chrome("chromedriver_94")
url = "https://weather.naju.go.kr/agri_meteo/agri_time.html"
driver.get(url)
time.sleep(1)

all_date_list = []
all_tp_list = []
for m in [1,3]:
    for d in range(1,32):
        # 관측기간 xpath : //*[@id="timed_date"]
        # 조회 버튼 xpath : //*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img
        search = driver.find_element_by_xpath('//*[@id="timed_date"]')
        button = driver.find_element_by_xpath('//*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img')
        # 입력창 클릭 후 내용 지우고 입력하기
        search.click()
        search.clear()
        search.send_keys(f"2013{m:0>2}{d:0>2}")
        button.click()
        time.sleep(0.5)
        # bs에 담기
        page = driver.page_source
        soup = BeautifulSoup(page, 'lxml')
        
        # 시간, 기온 기록
        td = soup.find_all('td')
        
        # 시간 기록
        # 날짜만 가져오기
        num = int(len(td)/13)
        date_list = []
        for i in range(num):
            if len(td[i*13].text) == 16:
                date_list.append(td[i*13].text)
                date_list = set(date_list)
                date_list = list(date_list)
        # 날짜 순서 정렬 및 24시날짜 하루 당기기
        # 각 달 마지막 날짜 처리 문제
        date_list.sort()
        e = d+1
        n = m+1
        if f"2013-{m:0>2}-{e:0>2} 00:00" in date_list:
            a = date_list.index(f"2013-{m:0>2}-{e:0>2} 00:00")
            date_list[a] = f"2013-{m:0>2}-{d:0>2} 24:00"
        if f"2013-{n:0>2}-01 00:00" in date_list:
            a = date_list.index(f"2013-{n:0>2}-01 00:00")
            date_list[a] = f"2013-{m:0>2}-{d:0>2} 24:00"
        length = len(date_list)
        
        # 온도 기록
        # 날짜 만큼만 온도 가져오기
        tp_list = []
        for i in range(length):
            j = i * 13 + 1
            if td[j] == nan:
                tp_list.append(nan)
            else:
                tp_list.append(td[j].text)
        # 날짜에 맞춰 온도 순서 뒤집기
        new_tp_list = []
        for i in range(length-1,-1,-1):
            tmp = tp_list[i]
            new_tp_list.append(tmp)
        
        # 날짜, 온도 리스트에 추가
        all_date_list.extend(date_list)
        all_tp_list.extend(new_tp_list)

In [149]:
print(len(all_date_list), len(all_tp_list))

1474 1474

In [150]:
df = pd.DataFrame({"연-월-일 시간":all_date_list, "기온":all_tp_list})
df

              연-월-일 시간    기온
0     2013-01-01 01:00  -6.4
1     2013-01-01 02:00  -6.0
2     2013-01-01 03:00  -5.7
3     2013-01-01 04:00  -5.8
4     2013-01-01 05:00  -6.3
...                ...   ...
1469  2013-03-31 20:00   7.1
1470  2013-03-31 21:00   6.2
1471  2013-03-31 22:00   3.8
1472  2013-03-31 23:00   3.0
1473  2013-03-31 24:00   2.3

[1474 rows x 2 columns]

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1474 entries, 0 to 1473
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연-월-일 시간  1474 non-null   object
 1   기온        1474 non-null   object
dtypes: object(2)
memory usage: 23.2+ KB

In [152]:
df[df['기온']=='-']

              연-월-일 시간 기온
934   2013-03-09 13:00  -
935   2013-03-09 14:00  -
987   2013-03-11 18:00  -
1056  2013-03-14 15:00  -
1057  2013-03-14 16:00  -
1058  2013-03-14 17:00  -
1075  2013-03-15 10:00  -

In [153]:
df.loc[df['기온']=='-', '기온'] = nan

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1474 entries, 0 to 1473
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연-월-일 시간  1474 non-null   object
 1   기온        1467 non-null   object
dtypes: object(2)
memory usage: 23.2+ KB