In [2]:
import pandas as pd

In [4]:
train = pd.read_csv('data/train.csv', parse_dates=['datetime'])
test = pd.read_csv('data/test.csv', parse_dates=['datetime'])
sub = pd.read_csv('data/sampleSubmission.csv')

In [5]:
train.shape, test.shape, sub.shape

((10886, 12), (6493, 9), (6493, 2))

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(8)
memory usage: 1020.7 KB

In [7]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [8]:
train.corr()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
season,1.000000,0.029368,-0.008126,0.008879,0.258689,0.264744,0.190610,-0.147121,0.096758,0.164011,0.163439
holiday,0.029368,1.000000,-0.250491,-0.007074,0.000295,-0.005215,0.001929,0.008409,0.043799,-0.020956,-0.005393
workingday,-0.008126,-0.250491,1.000000,0.033772,0.029966,0.024660,-0.010880,0.013373,-0.319111,0.119460,0.011594
weather,0.008879,-0.007074,0.033772,1.000000,-0.055035,-0.055376,0.406244,0.007261,-0.135918,-0.109340,-0.128655
temp,0.258689,0.000295,0.029966,-0.055035,1.000000,0.984948,-0.064949,-0.017852,0.467097,0.318571,0.394454
atemp,0.264744,-0.005215,0.024660,-0.055376,0.984948,1.000000,-0.043536,-0.057473,0.462067,0.314635,0.389784
humidity,0.190610,0.001929,-0.010880,0.406244,-0.064949,-0.043536,1.000000,-0.318607,-0.348187,-0.265458,-0.317371
windspeed,-0.147121,0.008409,0.013373,0.007261,-0.017852,-0.057473,-0.318607,1.000000,0.092276,0.091052,0.101369
casual,0.096758,0.043799,-0.319111,-0.135918,0.467097,0.462067,-0.348187,0.092276,1.000000,0.497250,0.690414
registered,0.164011,-0.020956,0.119460,-0.109340,0.318571,0.314635,-0.265458,0.091052,0.497250,1.000000,0.970948
count,0.163439,-0.005393,0.011594,-0.128655,0.394454,0.389784,-0.317371,0.101369,0.690414,0.970948,1.000000

In [9]:
sel = ['temp','atemp']
X_train = train[sel]
X_test = test[sel]
y_train = train['count']

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
### 모델을 선택하고, 학습을 시키고, 예측을 수행한다.
model = LinearRegression()
# model.fit(입력, 레이블)
model.fit(X_train, y_train)
pred = model.predict(X_test)
pred[0:5]

array([101.95625474, 104.0156171 , 104.0156171 , 103.33067499,
       103.33067499])

In [12]:
model.score(X_train, y_train)

0.15564749786789867

In [13]:
print(model.coef_)
print(model.intercept_)

[8.19865874 0.90720808]
4.248132645804674

In [14]:
## 우리가 만든 모델
## 렌탈 대수 = temp * 8.20 + atemp * 0.91 + 4.25..

In [15]:
## MSE가 최소가 되는 계수를 구한다.

In [16]:
sub['count'] = pred
sub

                 datetime       count
0     2011-01-20 00:00:00  101.956255
1     2011-01-20 01:00:00  104.015617
2     2011-01-20 02:00:00  104.015617
3     2011-01-20 03:00:00  103.330675
4     2011-01-20 04:00:00  103.330675
...                   ...         ...
6488  2012-12-31 19:00:00  103.330675
6489  2012-12-31 20:00:00  103.330675
6490  2012-12-31 21:00:00  103.330675
6491  2012-12-31 22:00:00  104.015617
6492  2012-12-31 23:00:00  104.015617

[6493 rows x 2 columns]

In [17]:
sub.to_csv('baseline.csv', index=False)

In [18]:
from sklearn.model_selection import cross_val_score, train_test_split
scores = cross_val_score(model, X_train, y_train, scoring='neg_mean_squared_error')
print('MSE =',-scores.mean())

MSE = 30066.98626950932