# 설명
* 모델
    * 랜덤포레스트 회귀(기본), 캣부스트 회귀(기본)
        * log, 다항특성 적용
    * pycaret을 활용한 lightgbm, knn 하이퍼파라미터 튜닝(팀원 김진연님)
* 선택 특성
    * 기온 예측 : ['month', '구분', '시간']
    * 가스공급량 예측 : ['month', '시간', '구분', '기온']
* 두 모델의 결과값 평균과 다른 두 모델의 평균의 평균으로 제출
* 데이콘 점수 :

In [4]:
import pandas as pd

In [5]:
rf_cat = pd.read_csv('../07_결과_출력/sub08_rf_cat_05.csv')
pycaret_lk = pd.read_csv('pycaret_lightbgm&knn.csv')

In [6]:
rf_cat.head()

          일자|시간|구분          공급량
0  2019-01-01 01 A  1887.403588
1  2019-01-01 02 A  1685.730805
2  2019-01-01 03 A  1626.373689
3  2019-01-01 04 A  1717.280393
4  2019-01-01 05 A  1808.630487

In [8]:
pycaret_lk.head()

          일자|시간|구분          공급량
0  2019-01-01 01 A  1949.708511
1  2019-01-01 02 A  1700.517868
2  2019-01-01 03 A  1641.867839
3  2019-01-01 04 A  1675.174498
4  2019-01-01 05 A  1916.342483

In [9]:
rc_pycaret = (rf_cat['공급량'] + pycaret_lk['공급량']) / 2
rc_pycaret

0        1918.556050
1        1693.124336
2        1634.120764
3        1696.227445
4        1862.486485
            ...
15115     408.243829
15116     444.706752
15117     394.398173
15118     367.987847
15119     349.191959
Name: 공급량, Length: 15120, dtype: float64

# 제출 파일 만들기

In [10]:
# 제출 파일 불러오기
sub = pd.read_csv('../data/sample_submission.csv')
sub.head()

          일자|시간|구분  공급량
0  2019-01-01 01 A    0
1  2019-01-01 02 A    0
2  2019-01-01 03 A    0
3  2019-01-01 04 A    0
4  2019-01-01 05 A    0

In [11]:
sub['공급량'] = rc_pycaret
sub.head()

          일자|시간|구분          공급량
0  2019-01-01 01 A  1918.556050
1  2019-01-01 02 A  1693.124336
2  2019-01-01 03 A  1634.120764
3  2019-01-01 04 A  1696.227445
4  2019-01-01 05 A  1862.486485

In [12]:
sub.to_csv("sub10_rc_lk_02.csv", index=False)

In [ ]:
# 'month', '시간', '구분', '기온', rf ,catboost(log, pol) 예측 평균 + lgbm, knn 하이퍼파라미터 튜닝 예측 평균(팀원 김진연님)
# 데이콘 점수 :