In [1]:
# 파일을 순차적으로 불러오기
# 월별 승하차 인원 합계 구하기
# 월별로 데이터 셋으로 만들기 
# 월별 데이터셋 하나로 합치기
# csv 파일로 만들기

In [33]:
import pandas as pd

In [39]:
# 파일 불러오기

sub_2015_01 = pd.read_csv('CARD_SUBWAY_MONTH_201501.csv', encoding='cp949')
sub_2015_02 = pd.read_csv('CARD_SUBWAY_MONTH_201502.csv', encoding='cp949')
sub_2015_03 = pd.read_csv('CARD_SUBWAY_MONTH_201503.csv', encoding='cp949')
sub_2015_04 = pd.read_csv('CARD_SUBWAY_MONTH_201504.csv', encoding='cp949')
sub_2015_05 = pd.read_csv('CARD_SUBWAY_MONTH_201505.csv', encoding='cp949')
sub_2015_06 = pd.read_csv('CARD_SUBWAY_MONTH_201506.csv', encoding='cp949')
sub_2015_07 = pd.read_csv('CARD_SUBWAY_MONTH_201507.csv', encoding='cp949')
sub_2015_08 = pd.read_csv('CARD_SUBWAY_MONTH_201508.csv', encoding='cp949')
sub_2015_09 = pd.read_csv('CARD_SUBWAY_MONTH_201509.csv', encoding='cp949')
sub_2015_10 = pd.read_csv('CARD_SUBWAY_MONTH_201510.csv', encoding='cp949')
sub_2015_11 = pd.read_csv('CARD_SUBWAY_MONTH_201511.csv', encoding='cp949')
sub_2015_12 = pd.read_csv('CARD_SUBWAY_MONTH_201512.csv', encoding='cp949')

In [40]:
# 월별 승하차 인원 합계 구하기
month_2015_01 = sub_2015_01[['승차총승객수', '하차총승객수']].sum()
month_2015_02 = sub_2015_02[['승차총승객수', '하차총승객수']].sum()
month_2015_03 = sub_2015_03[['승차총승객수', '하차총승객수']].sum()
month_2015_04 = sub_2015_04[['승차총승객수', '하차총승객수']].sum()
month_2015_05 = sub_2015_05[['승차총승객수', '하차총승객수']].sum()
month_2015_06 = sub_2015_06[['승차총승객수', '하차총승객수']].sum()
month_2015_07 = sub_2015_07[['승차총승객수', '하차총승객수']].sum()
month_2015_08 = sub_2015_08[['승차총승객수', '하차총승객수']].sum()
month_2015_09 = sub_2015_09[['승차총승객수', '하차총승객수']].sum()
month_2015_10 = sub_2015_10[['승차총승객수', '하차총승객수']].sum()
month_2015_11 = sub_2015_11[['승차총승객수', '하차총승객수']].sum()
month_2015_12 = sub_2015_12[['승차총승객수', '하차총승객수']].sum()

In [41]:
# 월별 데이터 셋 하나로 합치기
sub_month = {'승차총승객수':month_2015_01['승차총승객수'], '하차총승객수':month_2015_01['하차총승객수'],
             '승차총승객수':month_2015_02['승차총승객수'], '하차총승객수':month_2015_02['하차총승객수'],
             '승차총승객수':month_2015_03['승차총승객수'], '하차총승객수':month_2015_03['하차총승객수'],
             '승차총승객수':month_2015_04['승차총승객수'], '하차총승객수':month_2015_04['하차총승객수'],
             '승차총승객수':month_2015_05['승차총승객수'], '하차총승객수':month_2015_05['하차총승객수'],
             '승차총승객수':month_2015_06['승차총승객수'], '하차총승객수':month_2015_06['하차총승객수'],
             '승차총승객수':month_2015_07['승차총승객수'], '하차총승객수':month_2015_07['하차총승객수'],
             '승차총승객수':month_2015_08['승차총승객수'], '하차총승객수':month_2015_08['하차총승객수'],
             '승차총승객수':month_2015_09['승차총승객수'], '하차총승객수':month_2015_09['하차총승객수'],
             '승차총승객수':month_2015_10['승차총승객수'], '하차총승객수':month_2015_10['하차총승객수'],
             '승차총승객수':month_2015_11['승차총승객수'], '하차총승객수':month_2015_11['하차총승객수'],
             '승차총승객수':month_2015_12['승차총승객수'], '하차총승객수':month_2015_12['하차총승객수'],
}
sub_month_f = pd.DataFrame(sub_month, index=['2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
                    '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12'])

In [42]:
sub_month

{'승차총승객수': 233155014.0, '하차총승객수': 232154505.0}