# pycaret을 이용한 가스공급량 예측
* 2019년 test 데이터 : '../data/test.csv'
* 2019년 제출 파일 : '../data/sample_submission.csv'
* 2013-2018년 가스공급량과 기온 자료 : '../2013-2018년_가스공급량_기온_습도_기압01.csv'
* 사용 특성 : 'month', 'day', '시간', '구분', '기온','습도','기압'
* 3개 모델 블랜드(cat, lgbm, xgb)

In [1]:
# 제출 점수 : 0.1392496462

## 데이터 가져오기
* 2019년 test 데이터 : '../data/test.csv'
* 2019년 제출 파일 : '../data/sample_submission.csv'
* 2013-2018년 가스공급량과 기온 자료 : '../2013-2018년_가스공급량_기온_습도_기압01.csv'

In [2]:
import pandas as pd

### 2013-2018년 가스공급량과 기온 자료

In [3]:
total = pd.read_csv('../2013-2018년_가스공급량_기온_습도_기압01.csv')
total.head()

   year  month  day  weekday  시간  구분       공급량   기온    습도      기압
0  2013      1    1        1   1   0  2497.129 -8.5  57.0  1010.0
1  2013      1    1        1   1   1  2169.093 -8.5  57.0  1010.0
2  2013      1    1        1   1   2   226.178 -8.5  57.0  1010.0
3  2013      1    1        1   1   3  1434.516 -8.5  57.0  1010.0
4  2013      1    1        1   1   4  3272.837 -8.5  57.0  1010.0

In [4]:
total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368088 entries, 0 to 368087
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   year     368088 non-null  int64
 1   month    368088 non-null  int64
 2   day      368088 non-null  int64
 3   weekday  368088 non-null  int64
 4   시간       368088 non-null  int64
 5   구분       368088 non-null  int64
 6   공급량      368088 non-null  float64
 7   기온       368088 non-null  float64
 8   습도       368088 non-null  float64
 9   기압       368088 non-null  float64
dtypes: float64(4), int64(6)
memory usage: 28.1 MB

#### 2019년 데이터

In [3]:
test2019 = pd.read_csv('../data/test.csv')
test2019.head()

          일자|시간|구분
0  2019-01-01 01 A
1  2019-01-01 02 A
2  2019-01-01 03 A
3  2019-01-01 04 A
4  2019-01-01 05 A

In [4]:
test2019[['연월일', '시간', '구분']] = test2019['일자|시간|구분'].str.split(' ').tolist()
test2019.head()

          일자|시간|구분         연월일  시간 구분
0  2019-01-01 01 A  2019-01-01  01  A
1  2019-01-01 02 A  2019-01-01  02  A
2  2019-01-01 03 A  2019-01-01  03  A
3  2019-01-01 04 A  2019-01-01  04  A
4  2019-01-01 05 A  2019-01-01  05  A

In [5]:
# 구분 열을 숫자로 바꾸기
d_map = {}
for i, d in enumerate(test2019['구분'].unique()):
    d_map[d] = i
test2019['구분'] = test2019['구분'].map(d_map)
test2019.head()

          일자|시간|구분         연월일  시간  구분
0  2019-01-01 01 A  2019-01-01  01   0
1  2019-01-01 02 A  2019-01-01  02   0
2  2019-01-01 03 A  2019-01-01  03   0
3  2019-01-01 04 A  2019-01-01  04   0
4  2019-01-01 05 A  2019-01-01  05   0

In [6]:
# 연월일 열은 object형이므로 년, 월, 일로 나눈다.
test2019['연월일'] = pd.to_datetime(test2019['연월일'])
test2019['year'] = test2019['연월일'].dt.year
test2019['month'] = test2019['연월일'].dt.month
test2019['day'] = test2019['연월일'].dt.day
test2019['weekday'] = test2019['연월일'].dt.weekday
test2019.head()

          일자|시간|구분        연월일  시간  구분  year  month  day  weekday
0  2019-01-01 01 A 2019-01-01  01   0  2019      1    1        1
1  2019-01-01 02 A 2019-01-01  02   0  2019      1    1        1
2  2019-01-01 03 A 2019-01-01  03   0  2019      1    1        1
3  2019-01-01 04 A 2019-01-01  04   0  2019      1    1        1
4  2019-01-01 05 A 2019-01-01  05   0  2019      1    1        1

## 2019년 기온 예측하기
* 습도 예측
* 기압 예측

In [7]:
from pycaret.regression import *

#### 습도(Humidity) 예측

In [8]:
# 학습 특성 : 'month', 'day', 'weekday', '시간', '구분'
# 타겟 특성 : '습도'

humidity_prediction_model = load_model('humidity_prediction_model_01')

Transformation Pipeline and Model Successfully Loaded

In [15]:
%%time
df_for_temp = test2019[['month', 'day', 'weekday', '시간', '구분']]
humidity2019_pred = predict_model(humidity_prediction_model, data=df_for_temp)

Wall time: 2.69 s

In [16]:
humidity_pred.head()

   month  day  weekday  시간  구분      Label
0      1    1        1  01   0  64.463024
1      1    1        1  02   0  65.664050
2      1    1        1  03   0  65.659699
3      1    1        1  04   0  66.320690
4      1    1        1  05   0  67.903796

In [17]:
test2019.head()

          일자|시간|구분        연월일  시간  구분  year  month  day  weekday
0  2019-01-01 01 A 2019-01-01  01   0  2019      1    1        1
1  2019-01-01 02 A 2019-01-01  02   0  2019      1    1        1
2  2019-01-01 03 A 2019-01-01  03   0  2019      1    1        1
3  2019-01-01 04 A 2019-01-01  04   0  2019      1    1        1
4  2019-01-01 05 A 2019-01-01  05   0  2019      1    1        1

In [18]:
test2019['습도'] = humidity2019_pred['Label']
test2019.head()

          일자|시간|구분        연월일  시간  구분  year  month  day  weekday         습도
0  2019-01-01 01 A 2019-01-01  01   0  2019      1    1        1  64.463024
1  2019-01-01 02 A 2019-01-01  02   0  2019      1    1        1  65.664050
2  2019-01-01 03 A 2019-01-01  03   0  2019      1    1        1  65.659699
3  2019-01-01 04 A 2019-01-01  04   0  2019      1    1        1  66.320690
4  2019-01-01 05 A 2019-01-01  05   0  2019      1    1        1  67.903796

#### 기압 예측

In [23]:
# 학습 특성 : 'month', 'day', 'weekday', '시간', '구분'
# 타겟 특성 : '기압'

exp = setup(total, target='기압', ignore_features=['공급량', 'year', '기온', '습도'])

In [25]:
%%time
pressure_model3 = compare_models(sort='MAPE', n_select=3)

Wall time: 35min 34s

In [26]:
%%time
blended_pressure_model3 = blend_models(estimator_list=pressure_model3)

In [27]:
%%time
final_pressure_model3 = finalize_model(blended_pressure_model3)

In [28]:
pressure_pred = predict_model(final_pressure_model3, data=test2019)

In [29]:
pressure_pred.head()

,일자|시간|구분,연월일,시간,구분,year,month,day,weekday,습도,Label
0,2019-01-01 01 A,2019-01-01,01,0,2019,1,1,1,64.463024,1010.000000
1,2019-01-01 02 A,2019-01-01,02,0,2019,1,1,1,65.664050,1009.401358
2,2019-01-01 03 A,2019-01-01,03,0,2019,1,1,1,65.659699,1009.200012
3,2019-01-01 04 A,2019-01-01,04,0,2019,1,1,1,66.320690,1008.198012
4,2019-01-01 05 A,2019-01-01,05,0,2019,1,1,1,67.903796,1007.294988

In [61]:
test2019['기압'] = pressure_pred['Label']
test2019.head()

,일자|시간|구분,연월일,시간,구분,year,month,day,weekday,습도,기압,기온
0,2019-01-01 01 A,2019-01-01,01,0,2019,1,1,1,64.463024,1010.000000,2.807896
1,2019-01-01 02 A,2019-01-01,02,0,2019,1,1,1,65.664050,1009.401358,0.471236
2,2019-01-01 03 A,2019-01-01,03,0,2019,1,1,1,65.659699,1009.200012,0.052972
3,2019-01-01 04 A,2019-01-01,04,0,2019,1,1,1,66.320690,1008.198012,1.895545
4,2019-01-01 05 A,2019-01-01,05,0,2019,1,1,1,67.903796,1007.294988,3.859672

#### 기온예측

In [62]:
# 학습 특성 : 'month', 'day', 'weekday', '시간', '구분', '습도', '기압'
# 타겟 특성 : '기온'

exp = setup(total, target='기온', ignore_features=['공급량', 'year'])

In [63]:
%%time
# 07-05_결과_출력(pycaret)_ver0.1(2021.11.15) 참고 모델 선택(결정트리모델은 과대적합으로 판단되어 제외)
temp_models3 = compare_models(sort='MAPE',n_select=3, include=['knn','catboost','lightgbm'])

Wall time: 5min 16s

In [64]:
%%time
tuned_temp_models3 = [tune_model(model) for model in temp_models3]

Wall time: 22min 2s

In [65]:
%%time
blend_models3 = blend_models(estimator_list=tuned_temp_models3)

Wall time: 2min 36s

In [66]:
%%time
temp_prediction_model = finalize_model(blend_models3)

Wall time: 3min 29s

In [67]:
save_model(temp_prediction_model, 'temp_prediction_model01')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True,
                                       features_todrop=['공급량', 'year'],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='기온',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_s...
                                                             feature_fraction=0.6,
                                                             importance_type='split',
                                                             learning_rate=0.5,
                                                             max_depth=-1,
                                                             min_child_samples=6,
                                                             min_child_weight=0.001,
                                                             min_split_gain=0.5,
                                                             n_estimators=70,
                                                             n_jobs=-1,
                                                             num_leaves=90,
                                                             objective=None,
                                                             random_state=4516,
                                                             reg_alpha=3,
                                                             reg_lambda=0.005,
                                                             silent='warn',
                                                             subsample=1.0,
                                                             subsample_for_bin=200000,
                                                             subsample_freq=0))],
                                  n_jobs=-1, verbose=False, weights=None)]],
          verbose=False),
 'temp_prediction_model01.pkl')

In [68]:
temp_pred = predict_model(temp_prediction_model, data=test2019)
temp_pred.head()

,일자|시간|구분,연월일,시간,구분,year,month,day,weekday,습도,기압,기온,Label
0,2019-01-01 01 A,2019-01-01,01,0,2019,1,1,1,64.463024,1010.000000,2.807896,-6.801088
1,2019-01-01 02 A,2019-01-01,02,0,2019,1,1,1,65.664050,1009.401358,0.471236,-4.707835
2,2019-01-01 03 A,2019-01-01,03,0,2019,1,1,1,65.659699,1009.200012,0.052972,-2.850208
3,2019-01-01 04 A,2019-01-01,04,0,2019,1,1,1,66.320690,1008.198012,1.895545,-2.921920
4,2019-01-01 05 A,2019-01-01,05,0,2019,1,1,1,67.903796,1007.294988,3.859672,-4.421073

In [69]:
test2019['기온'] = temp_pred['Label']
test2019.head()

,일자|시간|구분,연월일,시간,구분,year,month,day,weekday,습도,기압,기온
0,2019-01-01 01 A,2019-01-01,01,0,2019,1,1,1,64.463024,1010.000000,-6.801088
1,2019-01-01 02 A,2019-01-01,02,0,2019,1,1,1,65.664050,1009.401358,-4.707835
2,2019-01-01 03 A,2019-01-01,03,0,2019,1,1,1,65.659699,1009.200012,-2.850208
3,2019-01-01 04 A,2019-01-01,04,0,2019,1,1,1,66.320690,1008.198012,-2.921920
4,2019-01-01 05 A,2019-01-01,05,0,2019,1,1,1,67.903796,1007.294988,-4.421073

### 가스 공급량 예측

In [70]:
# 학습 특성 : 'month', 'day', 'weekday', '시간', '구분', '습도', '기압', '기온'
exp = setup(total, target='공급량', ignore_features=['year'])

In [71]:
# 모델 비교

compare_models(sort='MAPE', exclude=['lr','lasso','ridge','rf','dt','et'])

In [72]:
cat = create_model('catboost')
lgbm = create_model('lightgbm')
xgb = create_model('xgboost')

In [73]:
%%time
tuned_cat = tune_model(cat)
tuned_lgbm = tune_model(lgbm)
tuned_xgb = tune_model(xgb)

Wall time: 1h 15min 39s

In [82]:
%%time
blend_model = blend_models(estimator_list=[tuned_cat, tuned_lgbm, tuned_xgb])

Wall time: 14min

In [89]:
%%time
gas_prediction_model = finalize_model(blend_model)

Wall time: 16min 24s

In [84]:
save_model(gas_prediction_model, 'gas_prediction_model01')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True,
                                       features_todrop=['year'], id_columns=[],
                                       ml_usecase='regression',
                                       numerical_features=[], target='공급량',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strate...
                                                            max_depth=11,
                                                            min_child_weight=3,
                                                            missing=nan,
                                                            monotone_constraints='()',
                                                            n_estimators=180,
                                                            n_jobs=-1,
                                                            num_parallel_tree=1,
                                                            objective='reg:squarederror',
                                                            predictor='auto',
                                                            random_state=8712,
                                                            reg_alpha=0.0001,
                                                            reg_lambda=10,
                                                            scale_pos_weight=17.8,
                                                            subsample=0.5,
                                                            tree_method='auto',
                                                            validate_parameters=1,
                                                            verbosity=0))],
                                  n_jobs=-1, verbose=False, weights=None)]],
          verbose=False),
 'gas_prediction_model01.pkl')

In [85]:
gas_pred = predict_model(gas_prediction_model, data=test2019)
gas_pred.head()

,일자|시간|구분,연월일,시간,구분,year,month,day,weekday,습도,기압,기온,Label
0,2019-01-01 01 A,2019-01-01,01,0,2019,1,1,1,64.463024,1010.000000,-6.801088,2325.457186
1,2019-01-01 02 A,2019-01-01,02,0,2019,1,1,1,65.664050,1009.401358,-4.707835,1968.303521
2,2019-01-01 03 A,2019-01-01,03,0,2019,1,1,1,65.659699,1009.200012,-2.850208,1776.530628
3,2019-01-01 04 A,2019-01-01,04,0,2019,1,1,1,66.320690,1008.198012,-2.921920,1790.658766
4,2019-01-01 05 A,2019-01-01,05,0,2019,1,1,1,67.903796,1007.294988,-4.421073,1942.111760

### 제출 파일 만들기

In [86]:
sub = pd.read_csv('../data/sample_submission.csv')
sub.head()

          일자|시간|구분  공급량
0  2019-01-01 01 A    0
1  2019-01-01 02 A    0
2  2019-01-01 03 A    0
3  2019-01-01 04 A    0
4  2019-01-01 05 A    0

In [87]:
sub['공급량'] = gas_pred['Label']
sub.head()

          일자|시간|구분          공급량
0  2019-01-01 01 A  2325.457186
1  2019-01-01 02 A  1968.303521
2  2019-01-01 03 A  1776.530628
3  2019-01-01 04 A  1790.658766
4  2019-01-01 05 A  1942.111760

In [88]:
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15120 entries, 0 to 15119
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   일자|시간|구분  15120 non-null  object
 1   공급량       15120 non-null  float64
dtypes: float64(1), object(1)
memory usage: 236.4+ KB

In [90]:
sub.to_csv("sub13_pycaret01.csv", index=False)