# 설명
* 모델
    * 랜덤포레스트 회귀(기본), 캣부스트 회귀(기본)
    * pycaret을 활용한 lightgbm, knn 하이퍼파라미터 튜닝(팀원 김진연님)
* 선택 특성
    * 기온 예측 : ['month', '구분', '시간']
    * 가스공급량 예측 : ['month', '시간', '구분', '기온']
* 두 모델의 결과값 평균과 다른 두 모델의 평균의 평균으로 제출
* 데이콘 점수 : 0.1110990574(2021.11.10 제출)(46등)

In [1]:
import pandas as pd

In [4]:
sub3 = pd.read_csv('sub03_rf_cat_01.csv')
pycaret_lk = pd.read_csv('pycaret_lightbgm&knn.csv')

In [3]:
sub3.head()

          일자|시간|구분          공급량
0  2019-01-01 01 A  1940.815498
1  2019-01-01 02 A  1695.954464
2  2019-01-01 03 A  1665.638221
3  2019-01-01 04 A  1829.480644
4  2019-01-01 05 A  1821.860354

In [5]:
pycaret_lk.head()

          일자|시간|구분          공급량
0  2019-01-01 01 A  1949.708511
1  2019-01-01 02 A  1700.517868
2  2019-01-01 03 A  1641.867839
3  2019-01-01 04 A  1675.174498
4  2019-01-01 05 A  1916.342483

In [10]:
sub3_pycaret = (sub3['공급량'] + pycaret_lk['공급량']) / 2
sub3_pycaret

0        1945.262004
1        1698.236166
2        1653.753030
3        1752.327571
4        1869.101418
            ...
15115     410.973245
15116     459.131524
15117     382.514282
15118     368.672417
15119     349.966637
Name: 공급량, Length: 15120, dtype: float64

# 제출 파일 만들기

In [7]:
# 제출 파일 불러오기
sub = pd.read_csv('../data/sample_submission.csv')
sub.head()

          일자|시간|구분  공급량
0  2019-01-01 01 A    0
1  2019-01-01 02 A    0
2  2019-01-01 03 A    0
3  2019-01-01 04 A    0
4  2019-01-01 05 A    0

In [11]:
sub['공급량'] = sub3_pycaret
sub.head()

          일자|시간|구분          공급량
0  2019-01-01 01 A  1945.262004
1  2019-01-01 02 A  1698.236166
2  2019-01-01 03 A  1653.753030
3  2019-01-01 04 A  1752.327571
4  2019-01-01 05 A  1869.101418

In [12]:
sub.to_csv("sub09_rc_lk_01.csv", index=False)

In [ ]:
# 'month', '시간', '구분', '기온', rf기본 ,catboost 기본, 예측 평균 + lgbm, knn 하이퍼파라미터 튜닝 예측 평균(팀원 김진연님)
# 데이콘 점수 : 0.1110990574(2021.11.10)(46등)