In [24]:
import os
os.listdir()

['.ipynb_checkpoints',
 '01_world_coronaboard.ipynb',
 '02_vaccine_bloomberg.ipynb',
 '03.ipynb',
 '2021-09-28_corona.csv',
 '2021-09-28_corona.xlsx',
 '20210929_14_vaccine_bloomberg.csv',
 'bloomberg_corona.csv',
 'bloomberg_corona.xlsx',
 'chromedriver.exe',
 'chromedriver_94.exe',
 'country.csv',
 'data']

In [25]:
import pandas as pd

In [26]:
corona = pd.read_csv('2021-09-28_corona.csv')
vaccine = pd.read_csv('20210929_14_vaccine_bloomberg.csv')
country_code = pd.read_csv('country.csv', encoding='cp949')

In [27]:
corona.shape, vaccine.shape, country_code.shape

((222, 15), (207, 7), (227, 4))

In [28]:
corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   êµ­ê°€      222 non-null    object
 1   ì¹˜ëª…(%)   222 non-null    object
 2   ì™„ì¹˜(%)   219 non-null    float64
 3   ë°œìƒë¥      222 non-null    object
 4   ì¸êµ¬ìˆ˜     222 non-null    object
 5   í™•ì§„ìí•©ê³„   222 non-null    int64
 6   í™•ì§„ì1ì¼   168 non-null    float64
 7   ì¹˜ë£Œì¤‘í•©ê³„   219 non-null    float64
 8   ì¹˜ë£Œì¤‘1ì¼   165 non-null    float64
 9   ìœ„ì¤‘ì¦í•©ê³„   153 non-null    float64
 10  ìœ„ì¤‘ì¦1ì¼   62 non-null     float64
 11  ì‚¬ë§ìí•©ê³„   222 non-null    int64
 12  ì‚¬ë§ì1ì¼   131 non-null    float64
 13  ì™„ì¹˜í•©ê³„    219 non-null    float64
 14  ì™„ì¹˜1ì¼    146 non-null    float64
dtypes: float64(9), int64(2), object(4)
memory usage: 26.1+ KB

In [29]:
vaccine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  207 non-null    float64
 1   êµ­ê°€                     207 non-null    object
 2   ë°±ì‹ ì ‘ì¢…ìˆ˜                  207 non-null    float64
 3   Enough_percent_people  207 non-null    float64
 4   1ì°¨ì ‘ì¢…                   207 non-null    float64
 5   2ì°¨ì ‘ì¢…                   207 non-null    float64
 6   ì¼ë³„ì ‘ì¢…ìˆ˜                  207 non-null    float64
dtypes: float64(6), object(1)
memory usage: 11.4+ KB

In [30]:
country_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   êµ­ë¬¸(ì½”ë¡œë‚˜ë³´ë“œ)  221 non-null    object
 1   ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸)   202 non-null    object
 2   ë‚˜ë¼         12 non-null     object
 3   ë¹„ê³ _ëœ»       30 non-null     object
dtypes: object(4)
memory usage: 7.2+ KB

In [31]:
vaccine.head()

,index,êµ­ê°€,ë°±ì‹ ì ‘ì¢…ìˆ˜,Enough_percent_people,1ì°¨ì ‘ì¢…,2ì°¨ì ‘ì¢…,ì¼ë³„ì ‘ì¢…ìˆ˜
0,0.0,Global Total,6.199444e+09,-999.0,-999.0,-999.0,29152868.0
1,1.0,Mainland China,2.203185e+09,78.7,78.6,73.0,3171286.0
2,2.0,India,8.765386e+08,32.0,46.7,16.8,7178901.0
3,3.0,EU,5.640300e+08,63.5,67.3,64.7,1052903.0
4,4.0,U.S.,3.911526e+08,61.1,64.4,55.8,701422.0

In [32]:
country_code.head()

  êµ­ë¬¸(ì½”ë¡œë‚˜ë³´ë“œ) ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸)   ë‚˜ë¼        ë¹„ê³ _ëœ»
0        ê°€ë‚˜    Ghana  NaN         NaN
1        ê°€ë´‰    Gabon  NaN         NaN
2      ê°€ì´ì•„ë‚˜   Guyana  NaN         NaN
3       ê°ë¹„ì•„   Gambia  NaN         NaN
4      ê³¼ë“¤ë£¨í”„      NaN  í”„ë‘ìŠ¤  Guadeloupe

In [33]:
corona.head()

,êµ­ê°€,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ìí•©ê³„,í™•ì§„ì1ì¼,ì¹˜ë£Œì¤‘í•©ê³„,ì¹˜ë£Œì¤‘1ì¼,ìœ„ì¤‘ì¦í•©ê³„,ìœ„ì¤‘ì¦1ì¼,ì‚¬ë§ìí•©ê³„,ì‚¬ë§ì1ì¼,ì™„ì¹˜í•©ê³„,ì™„ì¹˜1ì¼
0,ë¯¸êµ­ğŸ‡ºğŸ‡¸,1.6,76.0,133095,331002651,43942335,187382.0,9838383.0,-23963.0,21819.0,-275.0,709119,2781.0,33394833.0,208564.0
1,ì¸ë„ğŸ‡®ğŸ‡³,1.3,97.8,24431,1380004385,33714241,21093.0,289782.0,-7388.0,8944.0,NaN,447699,337.0,32976760.0,28144.0
2,ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·,2.8,95.3,100592,212559417,21366395,14423.0,410502.0,-6613.0,8318.0,NaN,594702,218.0,20361191.0,20818.0
3,ì˜êµ­ğŸ‡¬ğŸ‡§,1.8,80.7,113959,67886011,7701715,37485.0,1346396.0,3904.0,878.0,-38.0,136208,40.0,6219111.0,33541.0
4,ëŸ¬ì‹œì•„ğŸ‡·ğŸ‡º,2.8,88.9,51151,145934462,7464708,21559.0,623692.0,3339.0,2300.0,NaN,205531,852.0,6635485.0,17368.0

### corona ë°ì´í„°ì…‹ì—ì„œ, êµ­ê°€ëª…ì—ì„œ í•œê¸€ë§Œ ê°€ì ¸ì˜¤ê¸°

In [34]:
corona['êµ­ê°€'].str.extract('([ã„±-ã…£ê°€-í£]+)')

          0
0        ë¯¸êµ­
1        ì¸ë„
2       ë¸Œë¼ì§ˆ
3        ì˜êµ­
4       ëŸ¬ì‹œì•„
..      ...
217      ë§ˆì…œ
218    ë°”ëˆ„ì•„íˆ¬
219     ì‚¬ëª¨ì•„
220  ì„¸ì¸íŠ¸í—¬ë ˆë‚˜
221  ë¯¸í¬ë¡œë„¤ì‹œì•„

[222 rows x 1 columns]

In [35]:
corona['í•œê¸€í‘œê¸°'] = corona['êµ­ê°€'].str.extract('([ã„±-ã…£ê°€-í£]+)', expand=False)
corona.head()

,êµ­ê°€,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ìí•©ê³„,í™•ì§„ì1ì¼,ì¹˜ë£Œì¤‘í•©ê³„,ì¹˜ë£Œì¤‘1ì¼,ìœ„ì¤‘ì¦í•©ê³„,ìœ„ì¤‘ì¦1ì¼,ì‚¬ë§ìí•©ê³„,ì‚¬ë§ì1ì¼,ì™„ì¹˜í•©ê³„,ì™„ì¹˜1ì¼,í•œê¸€í‘œê¸°
0,ë¯¸êµ­ğŸ‡ºğŸ‡¸,1.6,76.0,133095,331002651,43942335,187382.0,9838383.0,-23963.0,21819.0,-275.0,709119,2781.0,33394833.0,208564.0,ë¯¸êµ­
1,ì¸ë„ğŸ‡®ğŸ‡³,1.3,97.8,24431,1380004385,33714241,21093.0,289782.0,-7388.0,8944.0,NaN,447699,337.0,32976760.0,28144.0,ì¸ë„
2,ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·,2.8,95.3,100592,212559417,21366395,14423.0,410502.0,-6613.0,8318.0,NaN,594702,218.0,20361191.0,20818.0,ë¸Œë¼ì§ˆ
3,ì˜êµ­ğŸ‡¬ğŸ‡§,1.8,80.7,113959,67886011,7701715,37485.0,1346396.0,3904.0,878.0,-38.0,136208,40.0,6219111.0,33541.0,ì˜êµ­
4,ëŸ¬ì‹œì•„ğŸ‡·ğŸ‡º,2.8,88.9,51151,145934462,7464708,21559.0,623692.0,3339.0,2300.0,NaN,205531,852.0,6635485.0,17368.0,ëŸ¬ì‹œì•„

In [36]:
corona.columns

Index(['êµ­ê°€', 'ì¹˜ëª…(%)', 'ì™„ì¹˜(%)', 'ë°œìƒë¥ ', 'ì¸êµ¬ìˆ˜', 'í™•ì§„ìí•©ê³„', 'í™•ì§„ì1ì¼', 'ì¹˜ë£Œì¤‘í•©ê³„',
       'ì¹˜ë£Œì¤‘1ì¼', 'ìœ„ì¤‘ì¦í•©ê³„', 'ìœ„ì¤‘ì¦1ì¼', 'ì‚¬ë§ìí•©ê³„', 'ì‚¬ë§ì1ì¼', 'ì™„ì¹˜í•©ê³„', 'ì™„ì¹˜1ì¼', 'í•œê¸€í‘œê¸°'],
      dtype='object')

In [37]:
col = ['êµ­ê°€', 'í•œê¸€í‘œê¸°', 'ìœ„ì¤‘ì¦í•©ê³„', 'ìœ„ì¤‘ì¦1ì¼', 'ì¹˜ëª…(%)', 'ì™„ì¹˜(%)', 'ë°œìƒë¥ ', 
       'ì¸êµ¬ìˆ˜', 'í™•ì§„ìí•©ê³„', 'í™•ì§„ì1ì¼', 'ì‚¬ë§ìí•©ê³„', 'ì‚¬ë§ì1ì¼', 'ì™„ì¹˜í•©ê³„', 'ì™„ì¹˜1ì¼']

new_corona = corona[col].copy()
new_corona

,êµ­ê°€,í•œê¸€í‘œê¸°,ìœ„ì¤‘ì¦í•©ê³„,ìœ„ì¤‘ì¦1ì¼,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ìí•©ê³„,í™•ì§„ì1ì¼,ì‚¬ë§ìí•©ê³„,ì‚¬ë§ì1ì¼,ì™„ì¹˜í•©ê³„,ì™„ì¹˜1ì¼
0,ë¯¸êµ­ğŸ‡ºğŸ‡¸,ë¯¸êµ­,21819.0,-275.0,1.6,76.0,133095,331002651,43942335,187382.0,709119,2781.0,33394833.0,208564.0
1,ì¸ë„ğŸ‡®ğŸ‡³,ì¸ë„,8944.0,NaN,1.3,97.8,24431,1380004385,33714241,21093.0,447699,337.0,32976760.0,28144.0
2,ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·,ë¸Œë¼ì§ˆ,8318.0,NaN,2.8,95.3,100592,212559417,21366395,14423.0,594702,218.0,20361191.0,20818.0
3,ì˜êµ­ğŸ‡¬ğŸ‡§,ì˜êµ­,878.0,-38.0,1.8,80.7,113959,67886011,7701715,37485.0,136208,40.0,6219111.0,33541.0
4,ëŸ¬ì‹œì•„ğŸ‡·ğŸ‡º,ëŸ¬ì‹œì•„,2300.0,NaN,2.8,88.9,51151,145934462,7464708,21559.0,205531,852.0,6635485.0,17368.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,ë§ˆì…œ ì œë„ğŸ‡²ğŸ‡­,ë§ˆì…œ,NaN,NaN,-,100.0,68,59190,4,NaN,0,NaN,4.0,NaN
218,ë°”ëˆ„ì•„íˆ¬ğŸ‡»ğŸ‡º,ë°”ëˆ„ì•„íˆ¬,NaN,NaN,25,75.0,13,307145,4,NaN,1,NaN,3.0,NaN
219,ì‚¬ëª¨ì•„ğŸ‡¼ğŸ‡¸,ì‚¬ëª¨ì•„,NaN,NaN,-,100.0,15,198414,3,NaN,0,NaN,3.0,NaN
220,ì„¸ì¸íŠ¸í—¬ë ˆë‚˜ğŸ‡¸ğŸ‡­,ì„¸ì¸íŠ¸í—¬ë ˆë‚˜,NaN,NaN,-,100.0,329,6077,2,NaN,0,NaN,2.0,NaN
221,ë¯¸í¬ë¡œë„¤ì‹œì•„ğŸ‡«ğŸ‡²,ë¯¸í¬ë¡œë„¤ì‹œì•„,NaN,NaN,-,100.0,9,115023,1,NaN,0,NaN,1.0,NaN

In [38]:
country_code.columns

Index(['êµ­ë¬¸(ì½”ë¡œë‚˜ë³´ë“œ)', 'ì˜ë¬¸(ë¸”ë£¸ë²„ê·¸)', 'ë‚˜ë¼', 'ë¹„ê³ _ëœ»'], dtype='object')

In [39]:
country_code.columns = ['han_code', 'eng_code', 'country', 'etc']
country_code

    han_code      eng_code country         etc
0         ê°€ë‚˜         Ghana     NaN         NaN
1         ê°€ë´‰         Gabon     NaN         NaN
2       ê°€ì´ì•„ë‚˜        Guyana     NaN         NaN
3        ê°ë¹„ì•„        Gambia     NaN         NaN
4       ê³¼ë“¤ë£¨í”„           NaN     í”„ë‘ìŠ¤  Guadeloupe
..       ...           ...     ...         ...
222      NaN         Nauru     NaN         ë‚˜ìš°ë£¨
223      NaN         Tonga     NaN          í†µê°€
224      NaN  Turkmenistan     NaN     íˆ¬ë¥´í¬ë©”ë‹ˆìŠ¤íƒ„
225      NaN        Jersey     NaN          ì €ì§€
226      NaN            EU     NaN         NaN

[227 rows x 4 columns]

In [40]:
new_corona.columns

Index(['êµ­ê°€', 'í•œê¸€í‘œê¸°', 'ìœ„ì¤‘ì¦í•©ê³„', 'ìœ„ì¤‘ì¦1ì¼', 'ì¹˜ëª…(%)', 'ì™„ì¹˜(%)', 'ë°œìƒë¥ ', 'ì¸êµ¬ìˆ˜', 'í™•ì§„ìí•©ê³„',
       'í™•ì§„ì1ì¼', 'ì‚¬ë§ìí•©ê³„', 'ì‚¬ë§ì1ì¼', 'ì™„ì¹˜í•©ê³„', 'ì™„ì¹˜1ì¼'],
      dtype='object')

### êµ­ê°€ ëª…ì„ ê¸°ì¤€ìœ¼ë¡œ vaccine ë°ì´í„°ë¥¼ í•©ì¹œë‹¤.

In [41]:
# new_coronaì¤‘ 'í•œê¸€í‘œê¸°'ì™€ country_codeì¤‘ 'han_code'ë¥¼ ë§ì¶”ì–´ í•©ì¹œë‹¤.
df_corona = new_corona.merge(country_code, left_on='í•œê¸€í‘œê¸°', right_on='han_code')
df_corona.head()

,êµ­ê°€,í•œê¸€í‘œê¸°,ìœ„ì¤‘ì¦í•©ê³„,ìœ„ì¤‘ì¦1ì¼,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ìí•©ê³„,í™•ì§„ì1ì¼,ì‚¬ë§ìí•©ê³„,ì‚¬ë§ì1ì¼,ì™„ì¹˜í•©ê³„,ì™„ì¹˜1ì¼,han_code,eng_code,country,etc
0,ë¯¸êµ­ğŸ‡ºğŸ‡¸,ë¯¸êµ­,21819.0,-275.0,1.6,76.0,133095,331002651,43942335,187382.0,709119,2781.0,33394833.0,208564.0,ë¯¸êµ­,U.S.,NaN,NaN
1,ì¸ë„ğŸ‡®ğŸ‡³,ì¸ë„,8944.0,NaN,1.3,97.8,24431,1380004385,33714241,21093.0,447699,337.0,32976760.0,28144.0,ì¸ë„,India,NaN,NaN
2,ë¸Œë¼ì§ˆğŸ‡§ğŸ‡·,ë¸Œë¼ì§ˆ,8318.0,NaN,2.8,95.3,100592,212559417,21366395,14423.0,594702,218.0,20361191.0,20818.0,ë¸Œë¼ì§ˆ,Brazil,NaN,NaN
3,ì˜êµ­ğŸ‡¬ğŸ‡§,ì˜êµ­,878.0,-38.0,1.8,80.7,113959,67886011,7701715,37485.0,136208,40.0,6219111.0,33541.0,ì˜êµ­,U.K.,NaN,NaN
4,ëŸ¬ì‹œì•„ğŸ‡·ğŸ‡º,ëŸ¬ì‹œì•„,2300.0,NaN,2.8,88.9,51151,145934462,7464708,21559.0,205531,852.0,6635485.0,17368.0,ëŸ¬ì‹œì•„,Russia,NaN,NaN

In [42]:
df_corona.drop(['êµ­ê°€', 'han_code', 'country', 'etc'], axis=1, inplace=True)

In [43]:
df_corona

,í•œê¸€í‘œê¸°,ìœ„ì¤‘ì¦í•©ê³„,ìœ„ì¤‘ì¦1ì¼,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ìí•©ê³„,í™•ì§„ì1ì¼,ì‚¬ë§ìí•©ê³„,ì‚¬ë§ì1ì¼,ì™„ì¹˜í•©ê³„,ì™„ì¹˜1ì¼,eng_code
0,ë¯¸êµ­,21819.0,-275.0,1.6,76.0,133095,331002651,43942335,187382.0,709119,2781.0,33394833.0,208564.0,U.S.
1,ì¸ë„,8944.0,NaN,1.3,97.8,24431,1380004385,33714241,21093.0,447699,337.0,32976760.0,28144.0,India
2,ë¸Œë¼ì§ˆ,8318.0,NaN,2.8,95.3,100592,212559417,21366395,14423.0,594702,218.0,20361191.0,20818.0,Brazil
3,ì˜êµ­,878.0,-38.0,1.8,80.7,113959,67886011,7701715,37485.0,136208,40.0,6219111.0,33541.0,U.K.
4,ëŸ¬ì‹œì•„,2300.0,NaN,2.8,88.9,51151,145934462,7464708,21559.0,205531,852.0,6635485.0,17368.0,Russia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,ì„œì‚¬í•˜ë¼,NaN,NaN,10,80.0,17,597339,10,NaN,1,NaN,8.0,NaN,NaN
190,ë°”ëˆ„ì•„íˆ¬,NaN,NaN,25,75.0,13,307145,4,NaN,1,NaN,3.0,NaN,NaN
191,ì‚¬ëª¨ì•„,NaN,NaN,-,100.0,15,198414,3,NaN,0,NaN,3.0,NaN,Samoa
192,ì„¸ì¸íŠ¸í—¬ë ˆë‚˜,NaN,NaN,-,100.0,329,6077,2,NaN,0,NaN,2.0,NaN,St. Helena
193,ë¯¸í¬ë¡œë„¤ì‹œì•„,NaN,NaN,-,100.0,9,115023,1,NaN,0,NaN,1.0,NaN,Micronesia

In [44]:
df_corona_all = df_corona.merge(vaccine, left_on='eng_code', right_on='êµ­ê°€')
df_corona_all.head()

,í•œê¸€í‘œê¸°,ìœ„ì¤‘ì¦í•©ê³„,ìœ„ì¤‘ì¦1ì¼,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ìí•©ê³„,í™•ì§„ì1ì¼,ì‚¬ë§ìí•©ê³„,...,ì™„ì¹˜í•©ê³„,ì™„ì¹˜1ì¼,eng_code,index,êµ­ê°€,ë°±ì‹ ì ‘ì¢…ìˆ˜,Enough_percent_people,1ì°¨ì ‘ì¢…,2ì°¨ì ‘ì¢…,ì¼ë³„ì ‘ì¢…ìˆ˜
0,ë¯¸êµ­,21819.0,-275.0,1.6,76.0,133095,331002651,43942335,187382.0,709119,...,33394833.0,208564.0,U.S.,4.0,U.S.,391152580.0,61.1,64.4,55.8,701422.0
1,ì¸ë„,8944.0,NaN,1.3,97.8,24431,1380004385,33714241,21093.0,447699,...,32976760.0,28144.0,India,2.0,India,876538600.0,32.0,46.7,16.8,7178901.0
2,ë¸Œë¼ì§ˆ,8318.0,NaN,2.8,95.3,100592,212559417,21366395,14423.0,594702,...,20361191.0,20818.0,Brazil,5.0,Brazil,233261970.0,56.5,71.3,41.9,1317163.0
3,ì˜êµ­,878.0,-38.0,1.8,80.7,113959,67886011,7701715,37485.0,136208,...,6219111.0,33541.0,U.K.,12.0,U.K.,93565470.0,70.0,73.0,67.1,63126.0
4,ëŸ¬ì‹œì•„,2300.0,NaN,2.8,88.9,51151,145934462,7464708,21559.0,205531,...,6635485.0,17368.0,Russia,18.0,Russia,89865310.0,30.6,32.6,28.5,214966.0

In [45]:
df_corona_all.drop( ['êµ­ê°€'], axis=1, inplace=True  )
df_corona_all

,í•œê¸€í‘œê¸°,ìœ„ì¤‘ì¦í•©ê³„,ìœ„ì¤‘ì¦1ì¼,ì¹˜ëª…(%),ì™„ì¹˜(%),ë°œìƒë¥,ì¸êµ¬ìˆ˜,í™•ì§„ìí•©ê³„,í™•ì§„ì1ì¼,ì‚¬ë§ìí•©ê³„,ì‚¬ë§ì1ì¼,ì™„ì¹˜í•©ê³„,ì™„ì¹˜1ì¼,eng_code,index,ë°±ì‹ ì ‘ì¢…ìˆ˜,Enough_percent_people,1ì°¨ì ‘ì¢…,2ì°¨ì ‘ì¢…,ì¼ë³„ì ‘ì¢…ìˆ˜
0,ë¯¸êµ­,21819.0,-275.0,1.6,76.0,133095,331002651,43942335,187382.0,709119,2781.0,33394833.0,208564.0,U.S.,4.0,391152580.0,61.1,64.4,55.8,701422.0
1,ì¸ë„,8944.0,NaN,1.3,97.8,24431,1380004385,33714241,21093.0,447699,337.0,32976760.0,28144.0,India,2.0,876538600.0,32.0,46.7,16.8,7178901.0
2,ë¸Œë¼ì§ˆ,8318.0,NaN,2.8,95.3,100592,212559417,21366395,14423.0,594702,218.0,20361191.0,20818.0,Brazil,5.0,233261970.0,56.5,71.3,41.9,1317163.0
3,ì˜êµ­,878.0,-38.0,1.8,80.7,113959,67886011,7701715,37485.0,136208,40.0,6219111.0,33541.0,U.K.,12.0,93565470.0,70.0,73.0,67.1,63126.0
4,ëŸ¬ì‹œì•„,2300.0,NaN,2.8,88.9,51151,145934462,7464708,21559.0,205531,852.0,6635485.0,17368.0,Russia,18.0,89865310.0,30.6,32.6,28.5,214966.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,ë§ˆì¹´ì˜¤,NaN,NaN,-,90.0,109,649335,70,3.0,0,NaN,63.0,NaN,Macau,152.0,649564.0,47.8,51.2,44.6,4123.0
174,ëª¬íŠ¸ì„¸ë«,NaN,NaN,3.0,90.9,6611,4992,33,NaN,1,NaN,30.0,NaN,Montserrat,224.0,2871.0,28.7,29.7,27.8,2.0
175,ì‚¬ëª¨ì•„,NaN,NaN,-,100.0,15,198414,3,NaN,0,NaN,3.0,NaN,Samoa,189.0,149431.0,37.2,49.3,25.0,981.0
176,ì„¸ì¸íŠ¸í—¬ë ˆë‚˜,NaN,NaN,-,100.0,329,6077,2,NaN,0,NaN,2.0,NaN,St. Helena,222.0,7892.0,65.8,72.7,58.9,8.0
177,ë¯¸í¬ë¡œë„¤ì‹œì•„,NaN,NaN,-,100.0,9,115023,1,NaN,0,NaN,1.0,NaN,Micronesia,208.0,72085.0,34.7,41.6,-999.0,266.0

In [46]:
df_corona_all.corr()

,ìœ„ì¤‘ì¦í•©ê³„,ìœ„ì¤‘ì¦1ì¼,ì™„ì¹˜(%),í™•ì§„ìí•©ê³„,í™•ì§„ì1ì¼,ì‚¬ë§ìí•©ê³„,ì‚¬ë§ì1ì¼,ì™„ì¹˜í•©ê³„,ì™„ì¹˜1ì¼,index,ë°±ì‹ ì ‘ì¢…ìˆ˜,Enough_percent_people,1ì°¨ì ‘ì¢…,2ì°¨ì ‘ì¢…,ì¼ë³„ì ‘ì¢…ìˆ˜
ìœ„ì¤‘ì¦í•©ê³„,1.000000,-0.849897,-0.034310,0.913018,0.865098,0.887306,0.878249,0.876905,0.880771,-0.404634,0.702539,0.034659,0.062277,0.006731,0.499437
ìœ„ì¤‘ì¦1ì¼,-0.849897,1.000000,0.139966,-0.835467,-0.821438,-0.790392,-0.845907,-0.834567,-0.844414,0.322717,-0.791848,-0.019808,-0.040743,-0.017533,-0.478399
ì™„ì¹˜(%),-0.034310,0.139966,1.000000,0.034011,-0.063898,0.034886,-0.049055,0.052528,-0.103847,-0.087645,0.054079,0.116262,0.097295,-0.016257,0.071575
í™•ì§„ìí•©ê³„,0.913018,-0.835467,0.034011,1.000000,0.801275,0.932022,0.794271,0.992485,0.804830,-0.410961,0.350432,0.115115,0.138337,0.049711,0.594224
í™•ì§„ì1ì¼,0.865098,-0.821438,-0.063898,0.801275,1.000000,0.707009,0.955632,0.726956,0.980165,-0.285114,0.190499,0.084610,0.084779,0.073876,0.171982
ì‚¬ë§ìí•©ê³„,0.887306,-0.790392,0.034886,0.932022,0.707009,1.000000,0.731802,0.937049,0.725237,-0.451363,0.307284,0.106476,0.138694,0.049904,0.506341
ì‚¬ë§ì1ì¼,0.878249,-0.845907,-0.049055,0.794271,0.955632,0.731802,1.000000,0.722099,0.937455,-0.299985,0.483507,0.088468,0.092356,0.077532,0.202815
ì™„ì¹˜í•©ê³„,0.876905,-0.834567,0.052528,0.992485,0.726956,0.937049,0.722099,1.000000,0.735906,-0.426591,0.366822,0.115117,0.141518,0.049316,0.656474
ì™„ì¹˜1ì¼,0.880771,-0.844414,-0.103847,0.804830,0.980165,0.725237,0.937455,0.735906,1.000000,-0.331869,0.193968,0.099032,0.105721,0.089130,0.198846
index,-0.404634,0.322717,-0.087645,-0.410961,-0.285114,-0.451363,-0.299985,-0.426591,-0.331869,1.000000,-0.313905,-0.287544,-0.294920,-0.197769,-0.379185
ë°±ì‹ ì ‘ì¢…ìˆ˜,0.702539,-0.791848,0.054079,0.350432,0.190499,0.307284,0.483507,0.366822,0.193968,-0.313905,1.000000,0.140997,0.142591,0.054844,0.688542
Enough_percent_people,0.034659,-0.019808,0.116262,0.115115,0.084610,0.106476,0.088468,0.115117,0.099032,-0.287544,0.140997,1.000000,0.981056,0.328262,0.029528
1ì°¨ì ‘ì¢…,0.062277,-0.040743,0.097295,0.138337,0.084779,0.138694,0.092356,0.141518,0.105721,-0.294920,0.142591,0.981056,1.000000,0.311609,0.062601
2ì°¨ì ‘ì¢…,0.006731,-0.017533,-0.016257,0.049711,0.073876,0.049904,0.077532,0.049316,0.089130,-0.197769,0.054844,0.328262,0.311609,1.000000,0.012619
ì¼ë³„ì ‘ì¢…ìˆ˜,0.499437,-0.478399,0.071575,0.594224,0.171982,0.506341,0.202815,0.656474,0.198846,-0.379185,0.688542,0.029528,0.062601,0.012619,1.000000