In [1]:
import seaborn as sns

t = sns.load_dataset('titanic')

In [5]:
cl = t['pclass']
cl

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: pclass, Length: 891, dtype: int64

In [3]:
# 등석별 승객수
cl = t['pclass']

cl_count1 = 0
cl_count2 = 0
cl_count3 = 0

for i in range(cl.count()):
    if cl[i] == 1:
        cl_count1 += 1
    elif cl[i] == 2:
        cl_count2 += 1
    elif cl[i] ==3:
        cl_count3 += 1
        
print(f"1등석 승객수 : {cl_count1}")
print(f"2등석 승객수 : {cl_count2}")
print(f"3등석 승객수 : {cl_count3}")

1등석 승객수 : 216
2등석 승객수 : 184
3등석 승객수 : 491

In [4]:
# 운임 가격의 평균, 최대, 최소값
fare = t['fare']

print("요금의 평균 :", fare.mean())
print("요금의 최대 :", fare.max())
print("요금의 최소 :", fare.min())

요금의 평균 : 32.2042079685746
요금의 최대 : 512.3292
요금의 최소 : 0.0

In [6]:
# 클래스별 운임의 평균, 최대, 최소값
fare_by_class = t[['pclass', 'fare']]
fare_by_class

     pclass     fare
0         3   7.2500
1         1  71.2833
2         3   7.9250
3         1  53.1000
4         3   8.0500
..      ...      ...
886       2  13.0000
887       1  30.0000
888       3  23.4500
889       1  30.0000
890       3   7.7500

[891 rows x 2 columns]

In [7]:
# 클래스 별 운임 합계
sum_fare_by_class1 = 0
sum_fare_by_class2 = 0
sum_fare_by_class3 = 0

for i in range(len(fare_by_class)):
    if fare_by_class.iloc[i,0] == 1:
        sum_fare_by_class1 += fare_by_class.iloc[i,1]
        
for i in range(len(fare_by_class)):
    if fare_by_class.iloc[i,0] == 2:
        sum_fare_by_class2 += fare_by_class.iloc[i,1]
        
for i in range(len(fare_by_class)):
    if fare_by_class.iloc[i,0] == 3:
        sum_fare_by_class3 += fare_by_class.iloc[i,1]
        
print("1등석 요금의 합계 :", sum_fare_by_class1)
print("2등석 요금의 합계 :", sum_fare_by_class2)
print("3등석 요금의 합계 :", sum_fare_by_class3)

1등석 요금의 합계 : 18177.412499999984
2등석 요금의 합계 : 3801.8416999999995
3등석 요금의 합계 : 6714.695100000002

In [8]:
# 클래스 별 운임 평균
print("1등석 요금의 평균 :", sum_fare_by_class1 / cl_count1)
print("2등석 요금의 평균 :", sum_fare_by_class2 / cl_count2)
print("3등석 요금의 평균 :", sum_fare_by_class3 / cl_count3)

1등석 요금의 평균 : 84.15468749999992
2등석 요금의 평균 : 20.66218315217391
3등석 요금의 평균 : 13.675550101832997