In [167]:
import pandas as pd

In [168]:
bike = pd.read_csv('공공자전거 이용정보(2020년 전월).csv', encoding='cp949')
bike.head()

,대여일자,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,...,총 이용건수,AGE_001,AGE_002,AGE_003,AGE_004,AGE_005,AGE_006,AGE_007,AGE_008,AGE_009
0,20-Jan,3.0,중랑센터,일일(회원),M,AGE_003,3.0,61.82,0.52,2230.0,...,794162.0,28787.0,326277.0,187520.0,127519.0,79939.0,23260.0,5060.0,15800.0,0.0
1,20-Jan,3.0,중랑센터,일일(회원),M,AGE_004,1.0,39.62,0.28,1220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20-Jan,3.0,중랑센터,정기,M,AGE_005,3.0,430.85,4.01,17270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20-Jan,5.0,상암센터 정비실,일일(회원),\N,AGE_005,2.0,1.79,0.02,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20-Jan,5.0,상암센터 정비실,정기,F,AGE_003,1.0,4501.96,45.47,196010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948888 entries, 0 to 948887
Data columns (total 24 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   대여일자     948887 non-null  object
 1   대여소번호    948887 non-null  float64
 2   대여소명     948887 non-null  object
 3   대여구분코드   948887 non-null  object
 4   성별       798225 non-null  object
 5   연령대코드    948887 non-null  object
 6   이용건수     948887 non-null  float64
 7   운동량      948887 non-null  object
 8   탄소량      948887 non-null  object
 9   이동거리     948887 non-null  float64
 10  이용시간     948887 non-null  float64
 11  여성       13 non-null      float64
 12  남성       13 non-null      float64
 13  미상       13 non-null      float64
 14  총 이용건수   13 non-null      float64
 15  AGE_001  13 non-null      float64
 16  AGE_002  13 non-null      float64
 17  AGE_003  13 non-null      float64
 18  AGE_004  13 non-null      float64
 19  AGE_005  13 non-null      float64
 20  AGE_006  13 non-null      float64
 21  AGE_007  13 non-null      float64
 22  AGE_008  13 non-null      float64
 23  AGE_009  13 non-null      float64
dtypes: float64(17), object(7)
memory usage: 173.7+ MB

### 성별 결측치 처리

In [170]:
bike['성별'].unique()

array(['M', '\\N', 'F', nan, 'm', 'f'], dtype=object)

In [171]:
bike['성별'].value_counts()

\N    321970
M     250865
F     224989
m        243
f        158
Name: 성별, dtype: int64

In [172]:
# nan 값을 다른 값으로 채우기
bike['성별'] = bike['성별'].fillna('nan')
bike['성별'].unique()

array(['M', '\\N', 'F', 'nan', 'm', 'f'], dtype=object)

In [173]:
bike['성별'].value_counts()

\N     321970
M      250865
F      224989
nan    150663
m         243
f         158
Name: 성별, dtype: int64

In [174]:
# unique 값 (f, F) => 0, (m, M) => 1, (\\N, nan) => 2 로 지정
bike['성별'] = bike['성별'].map({'M':1, 'F':0, 'm':1,'f':0,'\\N':2, 'nan':2 })
bike['성별'].unique()

array([1, 2, 0], dtype=int64)

### 운동량 결측값 처리확인

In [175]:
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948888 entries, 0 to 948887
Data columns (total 24 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   대여일자     948887 non-null  object
 1   대여소번호    948887 non-null  float64
 2   대여소명     948887 non-null  object
 3   대여구분코드   948887 non-null  object
 4   성별       948888 non-null  int64
 5   연령대코드    948887 non-null  object
 6   이용건수     948887 non-null  float64
 7   운동량      948887 non-null  object
 8   탄소량      948887 non-null  object
 9   이동거리     948887 non-null  float64
 10  이용시간     948887 non-null  float64
 11  여성       13 non-null      float64
 12  남성       13 non-null      float64
 13  미상       13 non-null      float64
 14  총 이용건수   13 non-null      float64
 15  AGE_001  13 non-null      float64
 16  AGE_002  13 non-null      float64
 17  AGE_003  13 non-null      float64
 18  AGE_004  13 non-null      float64
 19  AGE_005  13 non-null      float64
 20  AGE_006  13 non-null      float64
 21  AGE_007  13 non-null      float64
 22  AGE_008  13 non-null      float64
 23  AGE_009  13 non-null      float64
dtypes: float64(17), int64(1), object(6)
memory usage: 173.7+ MB

In [176]:
bike['성별'].value_counts()

2    472633
1    251108
0    225147
Name: 성별, dtype: int64

In [177]:
bike['성별'].head()

0    1
1    1
2    1
3    2
4    0
Name: 성별, dtype: int64

### 운동량 문자값 처리

In [178]:
bike2 = bike.copy()

In [179]:
# 값 확인
bike2['운동량'].value_counts()

0          290817
\N           1441
43.24         147
46.33         138
36.04         130
            ...
9168.41         1
4507.85         1
2139.22         1
7260.52         1
1415.2          1
Name: 운동량, Length: 279972, dtype: int64

In [180]:
# \\N => 0으로 지정
# .replace('\\N', '0') => 오류 발생. '\'를 인식하는데 문제 발생.
# 정규표현식 사용해서 변환
bike2['운동량'] = bike2['운동량'].str.replace(pat=r'\\N', repl=r'0', regex=True)

### 운동량 문자열 처리 확인

In [181]:
bike2['운동량'].value_counts()

0           292258
43.24          147
46.33          138
36.04          130
21.62          126
             ...
2139.22          1
3262.95          1
14570.78         1
1618.8           1
6753.14          1
Name: 운동량, Length: 279971, dtype: int64

In [182]:
bike2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948888 entries, 0 to 948887
Data columns (total 24 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   대여일자     948887 non-null  object
 1   대여소번호    948887 non-null  float64
 2   대여소명     948887 non-null  object
 3   대여구분코드   948887 non-null  object
 4   성별       948888 non-null  int64
 5   연령대코드    948887 non-null  object
 6   이용건수     948887 non-null  float64
 7   운동량      948887 non-null  object
 8   탄소량      948887 non-null  object
 9   이동거리     948887 non-null  float64
 10  이용시간     948887 non-null  float64
 11  여성       13 non-null      float64
 12  남성       13 non-null      float64
 13  미상       13 non-null      float64
 14  총 이용건수   13 non-null      float64
 15  AGE_001  13 non-null      float64
 16  AGE_002  13 non-null      float64
 17  AGE_003  13 non-null      float64
 18  AGE_004  13 non-null      float64
 19  AGE_005  13 non-null      float64
 20  AGE_006  13 non-null      float64
 21  AGE_007  13 non-null      float64
 22  AGE_008  13 non-null      float64
 23  AGE_009  13 non-null      float64
dtypes: float64(17), int64(1), object(6)
memory usage: 173.7+ MB

## 실수형으로 변환시 NaN 값 생성. 해결 중...

In [183]:
# 운동량 값 숫자형으로 변환
bike2['운동량'].astype(float)

0           61.82
1           39.62
2          430.85
3            1.79
4         4501.96
           ...
948883       0.00
948884       0.00
948885       0.00
948886       0.00
948887        NaN
Name: 운동량, Length: 948888, dtype: float64

In [187]:
bike2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948888 entries, 0 to 948887
Data columns (total 24 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   대여일자     948887 non-null  object
 1   대여소번호    948887 non-null  float64
 2   대여소명     948887 non-null  object
 3   대여구분코드   948887 non-null  object
 4   성별       948888 non-null  int64
 5   연령대코드    948887 non-null  object
 6   이용건수     948887 non-null  float64
 7   운동량      948887 non-null  object
 8   탄소량      948887 non-null  object
 9   이동거리     948887 non-null  float64
 10  이용시간     948887 non-null  float64
 11  여성       13 non-null      float64
 12  남성       13 non-null      float64
 13  미상       13 non-null      float64
 14  총 이용건수   13 non-null      float64
 15  AGE_001  13 non-null      float64
 16  AGE_002  13 non-null      float64
 17  AGE_003  13 non-null      float64
 18  AGE_004  13 non-null      float64
 19  AGE_005  13 non-null      float64
 20  AGE_006  13 non-null      float64
 21  AGE_007  13 non-null      float64
 22  AGE_008  13 non-null      float64
 23  AGE_009  13 non-null      float64
dtypes: float64(17), int64(1), object(6)
memory usage: 173.7+ MB