## 나주시 농업기상정보시스템
* 주소 : https://weather.naju.go.kr/

In [3]:
import pandas as pd
from numpy import nan
import time

### bs로 크롤링하기

In [4]:
from selenium import webdriver
from bs4 import BeautifulSoup

In [10]:
driver = webdriver.Chrome("chromedriver_94")
url = "https://weather.naju.go.kr/agri_meteo/agri_time.html"
driver.get(url)

In [11]:
# 관측기간 xpath : //*[@id="timed_date"]
# 조회 버튼 xpath : //*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img
search = driver.find_element_by_xpath('//*[@id="timed_date"]')
button = driver.find_element_by_xpath('//*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img')

search.click()
search.clear()
search.send_keys("20131001")
button.click()

In [12]:
page = driver.page_source
soup = BeautifulSoup(page, 'lxml')
soup.title

In [13]:
td = soup.find_all('td')

In [14]:
len(td)

600

In [15]:
len(td)/13

46.15384615384615

In [16]:
int(len(td)/13)

46

In [17]:
td[597]

In [18]:
td[0:2]

In [19]:
td[13:15]

In [20]:
for i in range(47):
    print(td[i*13].text)

2013-10-02 00:00
2013-10-01 23:00
2013-10-01 22:00
2013-10-01 21:00
2013-10-01 20:00
2013-10-01 19:00
2013-10-01 18:00
2013-10-01 17:00
2013-10-01 16:00
2013-10-01 15:00
2013-10-01 14:00
2013-10-01 13:00
2013-10-01 12:00
2013-10-01 11:00
2013-10-01 10:00
2013-10-01 09:00
2013-10-01 08:00
2013-10-01 07:00
2013-10-01 06:00
2013-10-01 05:00
2013-10-01 04:00
2013-10-01 03:00
2013-10-01 02:00
2013-10-01 01:00
2013-10-02 00:00
20.0
91.0
서
0.5
-
3.0

-
22.8
33.1
33.0
2013-10-01 11:00
21.1
90.1
북북서
0.0
-
0.0

-
21.5
17.5

In [21]:
for i in range(47):
    if len(td[i*13].text) == 16:
        print(td[i*13].text)

2013-10-02 00:00
2013-10-01 23:00
2013-10-01 22:00
2013-10-01 21:00
2013-10-01 20:00
2013-10-01 19:00
2013-10-01 18:00
2013-10-01 17:00
2013-10-01 16:00
2013-10-01 15:00
2013-10-01 14:00
2013-10-01 13:00
2013-10-01 12:00
2013-10-01 11:00
2013-10-01 10:00
2013-10-01 09:00
2013-10-01 08:00
2013-10-01 07:00
2013-10-01 06:00
2013-10-01 05:00
2013-10-01 04:00
2013-10-01 03:00
2013-10-01 02:00
2013-10-01 01:00
2013-10-02 00:00
2013-10-01 11:00

In [22]:
test_date_list = []
for i in range(47):
    if len(td[i*13].text) == 16:
        test_date_list.append(td[i*13].text)
        test_date_list = set(test_date_list)
        test_date_list = list(test_date_list)
test_date_list

['2013-10-01 19:00',
 '2013-10-01 06:00',
 '2013-10-01 07:00',
 '2013-10-01 16:00',
 '2013-10-01 17:00',
 '2013-10-02 00:00',
 '2013-10-01 22:00',
 '2013-10-01 11:00',
 '2013-10-01 09:00',
 '2013-10-01 12:00',
 '2013-10-01 04:00',
 '2013-10-01 18:00',
 '2013-10-01 08:00',
 '2013-10-01 05:00',
 '2013-10-01 21:00',
 '2013-10-01 20:00',
 '2013-10-01 15:00',
 '2013-10-01 23:00',
 '2013-10-01 01:00',
 '2013-10-01 14:00',
 '2013-10-01 13:00',
 '2013-10-01 02:00',
 '2013-10-01 03:00',
 '2013-10-01 10:00']

In [23]:
len(test_date_list)

24

In [24]:
test_date_list.sort()

In [25]:
test_date_list

['2013-10-01 01:00',
 '2013-10-01 02:00',
 '2013-10-01 03:00',
 '2013-10-01 04:00',
 '2013-10-01 05:00',
 '2013-10-01 06:00',
 '2013-10-01 07:00',
 '2013-10-01 08:00',
 '2013-10-01 09:00',
 '2013-10-01 10:00',
 '2013-10-01 11:00',
 '2013-10-01 12:00',
 '2013-10-01 13:00',
 '2013-10-01 14:00',
 '2013-10-01 15:00',
 '2013-10-01 16:00',
 '2013-10-01 17:00',
 '2013-10-01 18:00',
 '2013-10-01 19:00',
 '2013-10-01 20:00',
 '2013-10-01 21:00',
 '2013-10-01 22:00',
 '2013-10-01 23:00',
 '2013-10-02 00:00']

In [26]:
a = test_date_list.index("2013-10-02 00:00")
test_date_list[a] = "2013-10-01 24:00"
test_date_list

['2013-10-01 01:00',
 '2013-10-01 02:00',
 '2013-10-01 03:00',
 '2013-10-01 04:00',
 '2013-10-01 05:00',
 '2013-10-01 06:00',
 '2013-10-01 07:00',
 '2013-10-01 08:00',
 '2013-10-01 09:00',
 '2013-10-01 10:00',
 '2013-10-01 11:00',
 '2013-10-01 12:00',
 '2013-10-01 13:00',
 '2013-10-01 14:00',
 '2013-10-01 15:00',
 '2013-10-01 16:00',
 '2013-10-01 17:00',
 '2013-10-01 18:00',
 '2013-10-01 19:00',
 '2013-10-01 20:00',
 '2013-10-01 21:00',
 '2013-10-01 22:00',
 '2013-10-01 23:00',
 '2013-10-01 24:00']

In [29]:
if '2013-10-01 13:00' in test_date_list:
    print('yes')

yes

In [30]:
for i in range(47):
    j = i*13 +1
    if len(td[j].text) == 3 or len(td[j].text) == 4 or len(td[j].text) == 5:
        print(td[j].text)

19.8
20.0
20.0
20.6
21.0
21.5
22.0
23.8
26.1
29.3
30.4
29.0
28.1
25.5
21.1
19.4
18.7
17.8
17.1
16.2
16.3
16.7
17.1
17.5
19.8
90.2
북북서
0.1
3.0
23.3
31.5
33.0
25.5
86.2
0.0
0.0
21.3
17.0
33.2

In [31]:
test_tp_list = []
for i in range(len(test_date_list)):
    j = i * 13 + 1
    if len(td[j].text) == 3 or len(td[j].text) == 4 or len(td[j].text) == 5:
        test_tp_list.append(td[j].text)
test_tp_list

['19.8',
 '20.0',
 '20.0',
 '20.6',
 '21.0',
 '21.5',
 '22.0',
 '23.8',
 '26.1',
 '29.3',
 '30.4',
 '29.0',
 '28.1',
 '25.5',
 '21.1',
 '19.4',
 '18.7',
 '17.8',
 '17.1',
 '16.2',
 '16.3',
 '16.7',
 '17.1',
 '17.5']

In [32]:
len(test_tp_list)

24

In [33]:
for i in range(23,-1,-1):
    print(i)

23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [34]:
new_test_tp_list = []
for i in range(23,-1,-1):
    tmp = test_tp_list[i]
    new_test_tp_list.append(tmp)
new_test_tp_list

['17.5',
 '17.1',
 '16.7',
 '16.3',
 '16.2',
 '17.1',
 '17.8',
 '18.7',
 '19.4',
 '21.1',
 '25.5',
 '28.1',
 '29.0',
 '30.4',
 '29.3',
 '26.1',
 '23.8',
 '22.0',
 '21.5',
 '21.0',
 '20.6',
 '20.0',
 '20.0',
 '19.8']

In [53]:
# webdriver로 페이지 접속
driver = webdriver.Chrome("chromedriver_94")
url = "https://weather.naju.go.kr/agri_meteo/agri_time.html"
driver.get(url)
time.sleep(1)
search = driver.find_element_by_xpath('//*[@id="timed_date"]')
button = driver.find_element_by_xpath('//*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img')
# 입력창 클릭 후 내용 지우고 입력하기
search.click()
search.clear()
search.send_keys("20130309")
button.click()
time.sleep(0.5)
# bs에 담기
page = driver.page_source
soup = BeautifulSoup(page, 'lxml')
td = soup.find_all('td')

In [54]:
td[:6]

[<td>2013-03-10 00:00</td>,
 <td>12.9</td>,
 <td>73.8</td>,
 <td>서북서</td>,
 <td class="m" style="display: none;">3.8</td>,
 <td class="km" style="display: table-cell;">13.7</td>]

In [57]:
m = 3
d = 9
num = int(len(td)/13)
date_list = []
for i in range(num):
    if len(td[i*13].text) == 16:
        date_list.append(td[i*13].text)
        date_list = set(date_list)
        date_list = list(date_list)
# 날짜 순서 정렬 및 24시날짜 하루 당기기
# 각 달 마지막 날짜 처리 문제
date_list.sort()
e = d+1
n = m+1
# 각 day 24:00 하루 당기기
if f"2013-{m:0>2}-{e:0>2} 00:00" in date_list:
    a = date_list.index(f"2013-{m:0>2}-{e:0>2} 00:00")
    date_list[a] = f"2013-{m:0>2}-{d:0>2} 24:00"
# 각 month 24:00 하루 당기기
if f"2013-{n:0>2}-01 00:00" in date_list:
    a = date_list.index(f"2013-{n:0>2}-01 00:00")
    date_list[a] = f"2013-{m:0>2}-{d:0>2} 24:00"
length = len(date_list)
date_list

['2013-03-09 01:00',
 '2013-03-09 02:00',
 '2013-03-09 03:00',
 '2013-03-09 04:00',
 '2013-03-09 05:00',
 '2013-03-09 06:00',
 '2013-03-09 07:00',
 '2013-03-09 08:00',
 '2013-03-09 09:00',
 '2013-03-09 10:00',
 '2013-03-09 11:00',
 '2013-03-09 12:00',
 '2013-03-09 13:00',
 '2013-03-09 14:00',
 '2013-03-09 15:00',
 '2013-03-09 16:00',
 '2013-03-09 17:00',
 '2013-03-09 18:00',
 '2013-03-09 19:00',
 '2013-03-09 20:00',
 '2013-03-09 21:00',
 '2013-03-09 22:00',
 '2013-03-09 23:00',
 '2013-03-09 24:00']

In [58]:
# webdriver로 페이지 접속
driver = webdriver.Chrome("chromedriver_94")
url = "https://weather.naju.go.kr/agri_meteo/agri_time.html"
driver.get(url)
time.sleep(1)
search = driver.find_element_by_xpath('//*[@id="timed_date"]')
button = driver.find_element_by_xpath('//*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img')
# 입력창 클릭 후 내용 지우고 입력하기
search.click()
search.clear()
search.send_keys("20130331")
button.click()
time.sleep(0.5)
# bs에 담기
page = driver.page_source
soup = BeautifulSoup(page, 'lxml')
td = soup.find_all('td')

In [59]:
m = 3
d = 31
num = int(len(td)/13)
date_list = []
for i in range(num):
    if len(td[i*13].text) == 16:
        date_list.append(td[i*13].text)
        date_list = set(date_list)
        date_list = list(date_list)
# 날짜 순서 정렬 및 24시날짜 하루 당기기
# 각 달 마지막 날짜 처리 문제
date_list.sort()
e = d+1
n = m+1
# 각 day 24:00 하루 당기기
if f"2013-{m:0>2}-{e:0>2} 00:00" in date_list:
    a = date_list.index(f"2013-{m:0>2}-{e:0>2} 00:00")
    date_list[a] = f"2013-{m:0>2}-{d:0>2} 24:00"
# 각 month 24:00 하루 당기기
if f"2013-{n:0>2}-01 00:00" in date_list:
    a = date_list.index(f"2013-{n:0>2}-01 00:00")
    date_list[a] = f"2013-{m:0>2}-{d:0>2} 24:00"
length = len(date_list)
date_list

['2013-03-31 01:00',
 '2013-03-31 02:00',
 '2013-03-31 03:00',
 '2013-03-31 04:00',
 '2013-03-31 05:00',
 '2013-03-31 06:00',
 '2013-03-31 07:00',
 '2013-03-31 08:00',
 '2013-03-31 09:00',
 '2013-03-31 10:00',
 '2013-03-31 11:00',
 '2013-03-31 12:00',
 '2013-03-31 13:00',
 '2013-03-31 14:00',
 '2013-03-31 15:00',
 '2013-03-31 16:00',
 '2013-03-31 17:00',
 '2013-03-31 18:00',
 '2013-03-31 19:00',
 '2013-03-31 20:00',
 '2013-03-31 21:00',
 '2013-03-31 22:00',
 '2013-03-31 23:00',
 '2013-03-31 24:00']

In [39]:
float('12.5')

12.5

In [40]:
# 온도 기록
# 날짜 만큼만 온도 가져오기
tp_list = []
for i in range(length):
    j = i * 13 + 1
    if td[j] == nan:
        tp_list.append(nan)
    else:
        tp_list.append(td[j].text)
tp_list

['12.9',
 '13.7',
 '15.5',
 '14.8',
 '16.1',
 '16.7',
 '19.1',
 '21.4',
 '22.9',
 '24.2',
 '-',
 '-',
 '20.8',
 '16.2',
 '9.8',
 '3.9',
 '0.6',
 '0.5',
 '0.8',
 '1.4',
 '1.1',
 '0.7',
 '1.5',
 '1.7']

In [41]:
len(tp_list)

24

In [42]:
if '-' in tp_list:
    print("yes")

yes

In [43]:
test_sr = pd.DataFrame({"연-월-일 시간":date_list,"기온":tp_list})
test_sr

            연-월-일 시간    기온
0   2013-03-09 01:00  12.9
1   2013-03-09 02:00  13.7
2   2013-03-09 03:00  15.5
3   2013-03-09 04:00  14.8
4   2013-03-09 05:00  16.1
5   2013-03-09 06:00  16.7
6   2013-03-09 07:00  19.1
7   2013-03-09 08:00  21.4
8   2013-03-09 09:00  22.9
9   2013-03-09 10:00  24.2
10  2013-03-09 11:00     -
11  2013-03-09 12:00     -
12  2013-03-09 13:00  20.8
13  2013-03-09 14:00  16.2
14  2013-03-09 15:00   9.8
15  2013-03-09 16:00   3.9
16  2013-03-09 17:00   0.6
17  2013-03-09 18:00   0.5
18  2013-03-09 19:00   0.8
19  2013-03-09 20:00   1.4
20  2013-03-09 21:00   1.1
21  2013-03-09 22:00   0.7
22  2013-03-09 23:00   1.5
23  2013-03-10 00:00   1.7

In [44]:
test_sr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연-월-일 시간  24 non-null     object
 1   기온        24 non-null     object
dtypes: object(2)
memory usage: 512.0+ bytes

In [45]:
test_sr.loc[test_sr['기온']=='-','기온']

10    -
11    -
Name: 기온, dtype: object

In [46]:
test_sr.loc[test_sr['기온']=='-','기온'] = nan
test_sr

            연-월-일 시간    기온
0   2013-03-09 01:00  12.9
1   2013-03-09 02:00  13.7
2   2013-03-09 03:00  15.5
3   2013-03-09 04:00  14.8
4   2013-03-09 05:00  16.1
5   2013-03-09 06:00  16.7
6   2013-03-09 07:00  19.1
7   2013-03-09 08:00  21.4
8   2013-03-09 09:00  22.9
9   2013-03-09 10:00  24.2
10  2013-03-09 11:00   NaN
11  2013-03-09 12:00   NaN
12  2013-03-09 13:00  20.8
13  2013-03-09 14:00  16.2
14  2013-03-09 15:00   9.8
15  2013-03-09 16:00   3.9
16  2013-03-09 17:00   0.6
17  2013-03-09 18:00   0.5
18  2013-03-09 19:00   0.8
19  2013-03-09 20:00   1.4
20  2013-03-09 21:00   1.1
21  2013-03-09 22:00   0.7
22  2013-03-09 23:00   1.5
23  2013-03-10 00:00   1.7

In [47]:
test_sr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연-월-일 시간  24 non-null     object
 1   기온        22 non-null     object
dtypes: object(2)
memory usage: 512.0+ bytes

In [69]:
for one in th:
    print(one.text)

관측시간(년-월-일 시:분)
기온(℃)
습도(%)
풍향


풍속(km/h)
풍속(m/s)


기압(hPa)
강수량(mm)
이슬유무
일사량(W/㎡)
지중온도(%)
초상온도(℃)
토양수분(%)
관측시간(년-월-일 시:분)
기온(℃)
습도(%)
풍향
풍속(m/s)
기압(hPa)
강수량(mm)
이슬유무
일사량(W/㎡)
지중온도(%)
초상온도(℃)
토양수분(%)

In [48]:
# 시간 샘플
for i in range(1,25):
    tmp = f'2013-01-01 {i:0>2}:00'
    print(tmp)

2013-01-01 01:00
2013-01-01 02:00
2013-01-01 03:00
2013-01-01 04:00
2013-01-01 05:00
2013-01-01 06:00
2013-01-01 07:00
2013-01-01 08:00
2013-01-01 09:00
2013-01-01 10:00
2013-01-01 11:00
2013-01-01 12:00
2013-01-01 13:00
2013-01-01 14:00
2013-01-01 15:00
2013-01-01 16:00
2013-01-01 17:00
2013-01-01 18:00
2013-01-01 19:00
2013-01-01 20:00
2013-01-01 21:00
2013-01-01 22:00
2013-01-01 23:00
2013-01-01 24:00

In [10]:
# webdriver로 페이지 접속
driver = webdriver.Chrome("chromedriver_94")
url = "https://weather.naju.go.kr/agri_meteo/agri_time.html"
driver.get(url)
time.sleep(1)

all_date_list = []
all_tp_list = []
for m in [1,3]:
    for d in range(1,32):
        # 관측기간 xpath : //*[@id="timed_date"]
        # 조회 버튼 xpath : //*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img
        search = driver.find_element_by_xpath('//*[@id="timed_date"]')
        button = driver.find_element_by_xpath('//*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img')
        # 입력창 클릭 후 내용 지우고 입력하기
        search.click()
        search.clear()
        search.send_keys(f"2013{m:0>2}{d:0>2}")
        button.click()
        time.sleep(0.5)
        # bs에 담기
        page = driver.page_source
        soup = BeautifulSoup(page, 'lxml')
        
        # 시간, 기온 기록
        td = soup.find_all('td')
        
        # 시간 기록
        # 날짜만 가져오기
        num = int(len(td)/13)
        date_list = []
        for i in range(num):
            if len(td[i*13].text) == 16:
                date_list.append(td[i*13].text)
                date_list = set(date_list)
                date_list = list(date_list)
        # 날짜 순서 정렬 및 24시날짜 하루 당기기
        # 각 달 마지막 날짜 처리 문제
        date_list.sort()
        e = d+1
        n = m+1
        if f"2013-{m:0>2}-{e:0>2} 00:00" in date_list:
            a = date_list.index(f"2013-{m:0>2}-{e:0>2} 00:00")
            date_list[a] = f"2013-{m:0>2}-{d:0>2} 24:00"
        if f"2013-{n:0>2}-01 00:00" in date_list:
            a = date_list.index(f"2013-{n:0>2}-01 00:00")
            date_list[a] = f"2013-{m:0>2}-{d:0>2} 24:00"
        length = len(date_list)
        
        # 시간 샘플이 비어있는 부분 확인하기
        # 시간 샘플
        sample_date = []
        for i in range(1,25):
            tmp = f'2013-{m:0>2}-{e:0>2} {i:0>2}:00'
            sample_date.append(tmp)
        # 비어 있는 부분 확인
        empty_index_list = []
        if length < 24:
            for i, one in enumerate(sample_date):
                if one not in date_list:
                    empty_index_list.append(i)
            
            # 온도 기록
            # 날짜 만큼만 온도 가져오기
            tp_list = []
            for i in range(length):
                j = i * 13 + 1
                if td[j] == nan:
                    tp_list.append(nan)
                else:
                    tp_list.append(td[j].text)
            # 날짜에 맞춰 온도 순서 뒤집기
            new_tp_list = []
            for i in range(length-1,-1,-1):
                tmp = tp_list[i]
                new_tp_list.append(tmp)
            
            # 비어 있는 날짜, 시간 nan으로 채우기
            for i in empty_index_list:
                date_list.insert(i, sample_date[i])
                new_tp_list.insert(i, nan)
            
        else:
            # 온도 기록
            # 날짜 만큼만 온도 가져오기
            tp_list = []
            for i in range(length):
                j = i * 13 + 1
                if td[j] == nan:
                    tp_list.append(nan)
                else:
                    tp_list.append(td[j].text)
            # 날짜에 맞춰 온도 순서 뒤집기
            new_tp_list = []
            for i in range(length-1,-1,-1):
                tmp = tp_list[i]
                new_tp_list.append(tmp)
        
        # 날짜, 온도 리스트에 추가
        all_date_list.extend(date_list)
        all_tp_list.extend(new_tp_list)

In [11]:
print(len(all_date_list), len(all_tp_list))

1546 1546

### 데이터 셋으로 만들기
* '-' => nan

In [150]:
df = pd.DataFrame({"연-월-일 시간":all_date_list, "기온":all_tp_list})
df

              연-월-일 시간    기온
0     2013-01-01 01:00  -6.4
1     2013-01-01 02:00  -6.0
2     2013-01-01 03:00  -5.7
3     2013-01-01 04:00  -5.8
4     2013-01-01 05:00  -6.3
...                ...   ...
1469  2013-03-31 20:00   7.1
1470  2013-03-31 21:00   6.2
1471  2013-03-31 22:00   3.8
1472  2013-03-31 23:00   3.0
1473  2013-03-31 24:00   2.3

[1474 rows x 2 columns]

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1474 entries, 0 to 1473
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연-월-일 시간  1474 non-null   object
 1   기온        1474 non-null   object
dtypes: object(2)
memory usage: 23.2+ KB

In [152]:
df[df['기온']=='-']

              연-월-일 시간 기온
934   2013-03-09 13:00  -
935   2013-03-09 14:00  -
987   2013-03-11 18:00  -
1056  2013-03-14 15:00  -
1057  2013-03-14 16:00  -
1058  2013-03-14 17:00  -
1075  2013-03-15 10:00  -

In [153]:
df.loc[df['기온']=='-', '기온'] = nan

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1474 entries, 0 to 1473
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연-월-일 시간  1474 non-null   object
 1   기온        1467 non-null   object
dtypes: object(2)
memory usage: 23.2+ KB

# 날짜, 온도 빈값 처리 확인 테스트
* 2013년 1월

In [12]:
# webdriver로 페이지 접속
driver = webdriver.Chrome("chromedriver_94")
url = "https://weather.naju.go.kr/agri_meteo/agri_time.html"
driver.get(url)
time.sleep(1)

all_date_list = []
all_tp_list = []
for m in [1]:
    for d in range(1,32):
        # 관측기간 xpath : //*[@id="timed_date"]
        # 조회 버튼 xpath : //*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img
        search = driver.find_element_by_xpath('//*[@id="timed_date"]')
        button = driver.find_element_by_xpath('//*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img')
        # 입력창 클릭 후 내용 지우고 입력하기
        search.click()
        search.clear()
        search.send_keys(f"2013{m:0>2}{d:0>2}")
        button.click()
        time.sleep(0.5)
        # bs에 담기
        page = driver.page_source
        soup = BeautifulSoup(page, 'lxml')
        
        # 시간, 기온 기록
        td = soup.find_all('td')
        
        # 시간 기록
        # 날짜만 가져오기
        num = int(len(td)/13)
        date_list = []
        for i in range(num):
            if len(td[i*13].text) == 16:
                date_list.append(td[i*13].text)
                date_list = set(date_list)
                date_list = list(date_list)
        # 날짜 순서 정렬 및 24시날짜 하루 당기기
        # 각 달 마지막 날짜 처리
        date_list.sort()
        e = d+1
        n = m+1
        if f"2013-{m:0>2}-{e:0>2} 00:00" in date_list:
            a = date_list.index(f"2013-{m:0>2}-{e:0>2} 00:00")
            date_list[a] = f"2013-{m:0>2}-{d:0>2} 24:00"
        if f"2013-{n:0>2}-01 00:00" in date_list:
            a = date_list.index(f"2013-{n:0>2}-01 00:00")
            date_list[a] = f"2013-{m:0>2}-{d:0>2} 24:00"
        length = len(date_list)
        
        # 시간 샘플이 비어있는 부분 확인하기
        # 시간 샘플
        sample_date = []
        for i in range(1,25):
            tmp = f'2013-{m:0>2}-{e:0>2} {i:0>2}:00'
            sample_date.append(tmp)
            
        # 비어 있는 부분 확인
        empty_index_list = []
        if length < 24:
            for i, one in enumerate(sample_date):
                if one not in date_list:
                    empty_index_list.append(i)
            
            # 온도 기록
            # 날짜 만큼만 온도 가져오기
            tp_list = []
            for i in range(length):
                j = i * 13 + 1
                if td[j] == nan:
                    tp_list.append(nan)
                else:
                    tp_list.append(td[j].text)
            # 날짜에 맞춰 온도 순서 뒤집기
            new_tp_list = []
            for i in range(length-1,-1,-1):
                tmp = tp_list[i]
                new_tp_list.append(tmp)
            
            # 비어 있는 날짜 삽입, 해당 날짜 온도 nan 삽입
            for i in empty_index_list:
                date_list.insert(i, sample_date[i])
                new_tp_list.insert(i, nan)
            
        else:
            # 온도 기록
            # 날짜 만큼만 온도 가져오기
            tp_list = []
            for i in range(length):
                j = i * 13 + 1
                if td[j] == nan:
                    tp_list.append(nan)
                else:
                    tp_list.append(td[j].text)
            # 날짜에 맞춰 온도 순서 뒤집기
            new_tp_list = []
            for i in range(length-1,-1,-1):
                tmp = tp_list[i]
                new_tp_list.append(tmp)
        
        # 날짜, 온도 리스트에 추가
        all_date_list.extend(date_list)
        all_tp_list.extend(new_tp_list)

In [13]:
print(len(all_date_list), len(all_tp_list))

802 802

In [14]:
# 데이터 셋 만들기
df = pd.DataFrame({"연-월-일 시간":all_date_list, "기온":all_tp_list})
df.loc[df['기온']=='-', '기온'] = nan

In [15]:
df2 = pd.DataFrame({"연-월-일 시간":all_date_list, "기온":all_tp_list})

In [18]:
df

             연-월-일 시간    기온
0    2013-01-01 01:00  -6.4
1    2013-01-01 02:00  -6.0
2    2013-01-01 03:00  -5.7
3    2013-01-01 04:00  -5.8
4    2013-01-01 05:00  -6.3
..                ...   ...
797  2013-01-31 20:00  10.6
798  2013-01-31 21:00  10.7
799  2013-01-31 22:00  10.5
800  2013-01-31 23:00   9.6
801  2013-01-31 24:00   9.2

[802 rows x 2 columns]

In [17]:
df2

             연-월-일 시간    기온
0    2013-01-01 01:00  -6.4
1    2013-01-01 02:00  -6.0
2    2013-01-01 03:00  -5.7
3    2013-01-01 04:00  -5.8
4    2013-01-01 05:00  -6.3
..                ...   ...
797  2013-01-31 20:00  10.6
798  2013-01-31 21:00  10.7
799  2013-01-31 22:00  10.5
800  2013-01-31 23:00   9.6
801  2013-01-31 24:00   9.2

[802 rows x 2 columns]

# 날짜, 온도 빈값 처리 확인 테스트
* 2013년 3월

In [19]:
# webdriver로 페이지 접속
driver = webdriver.Chrome("chromedriver_94")
url = "https://weather.naju.go.kr/agri_meteo/agri_time.html"
driver.get(url)
time.sleep(1)

all_date_list = []
all_tp_list = []
for m in [3]:
    for d in range(1,32):
        # 관측기간 xpath : //*[@id="timed_date"]
        # 조회 버튼 xpath : //*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img
        search = driver.find_element_by_xpath('//*[@id="timed_date"]')
        button = driver.find_element_by_xpath('//*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img')
        # 입력창 클릭 후 내용 지우고 입력하기
        search.click()
        search.clear()
        search.send_keys(f"2013{m:0>2}{d:0>2}")
        button.click()
        time.sleep(0.5)
        # bs에 담기
        page = driver.page_source
        soup = BeautifulSoup(page, 'lxml')
        
        # 시간, 기온 기록
        td = soup.find_all('td')
        
        # 시간 기록
        # 날짜만 가져오기
        num = int(len(td)/13)
        date_list = []
        for i in range(num):
            if len(td[i*13].text) == 16:
                date_list.append(td[i*13].text)
                date_list = set(date_list)
                date_list = list(date_list)
        # 날짜 순서 정렬 및 24시날짜 하루 당기기
        # 각 달 마지막 날짜 처리
        date_list.sort()
        e = d+1
        n = m+1
        if f"2013-{m:0>2}-{e:0>2} 00:00" in date_list:
            a = date_list.index(f"2013-{m:0>2}-{e:0>2} 00:00")
            date_list[a] = f"2013-{m:0>2}-{d:0>2} 24:00"
        if f"2013-{n:0>2}-01 00:00" in date_list:
            a = date_list.index(f"2013-{n:0>2}-01 00:00")
            date_list[a] = f"2013-{m:0>2}-{d:0>2} 24:00"
        length = len(date_list)
        
        # 시간 샘플이 비어있는 부분 확인하기
        # 시간 샘플
        sample_date = []
        for i in range(1,25):
            tmp = f'2013-{m:0>2}-{e:0>2} {i:0>2}:00'
            sample_date.append(tmp)
            
        # 비어 있는 부분 확인
        if length < 24:
            empty_index_list = []
            for i, one in enumerate(sample_date):
                if one not in date_list:
                    empty_index_list.append(i)
            
            # 온도 기록
            # 날짜 만큼만 온도 가져오기
            tp_list = []
            for i in range(length):
                j = i * 13 + 1
                if td[j] == nan:
                    tp_list.append(nan)
                else:
                    tp_list.append(td[j].text)
            # 날짜에 맞춰 온도 순서 뒤집기
            new_tp_list = []
            for i in range(length-1,-1,-1):
                tmp = tp_list[i]
                new_tp_list.append(tmp)
            
            # 비어 있는 날짜 삽입, 해당 날짜 온도 nan 삽입
            for i in empty_index_list:
                date_list.insert(i, sample_date[i])
                new_tp_list.insert(i, nan)
            
        if length == 24:
            # 온도 기록
            # 날짜 만큼만 온도 가져오기
            tp_list = []
            for i in range(length):
                j = i * 13 + 1
                if td[j] == nan:
                    tp_list.append(nan)
                else:
                    tp_list.append(td[j].text)
            # 날짜에 맞춰 온도 순서 뒤집기
            new_tp_list = []
            for i in range(length-1,-1,-1):
                tmp = tp_list[i]
                new_tp_list.append(tmp)
        
        # 날짜, 온도 리스트에 추가
        all_date_list.extend(date_list)
        all_tp_list.extend(new_tp_list)

In [20]:
print(len(all_date_list), len(all_tp_list))

744 744

In [21]:
# 데이터 셋 만들기
df2 = pd.DataFrame({"연-월-일 시간":all_date_list, "기온":all_tp_list})

In [22]:
# 데이터 셋 만들기
df = pd.DataFrame({"연-월-일 시간":all_date_list, "기온":all_tp_list})
df.loc[df['기온']=='-', '기온'] = nan

In [23]:
df2

             연-월-일 시간    기온
0    2013-03-01 01:00  10.6
1    2013-03-01 02:00  10.5
2    2013-03-01 03:00  11.0
3    2013-03-01 04:00  10.3
4    2013-03-01 05:00   9.6
..                ...   ...
739  2013-03-31 20:00   7.1
740  2013-03-31 21:00   6.2
741  2013-03-31 22:00   3.8
742  2013-03-31 23:00   3.0
743  2013-03-31 24:00   2.3

[744 rows x 2 columns]

In [24]:
df

             연-월-일 시간    기온
0    2013-03-01 01:00  10.6
1    2013-03-01 02:00  10.5
2    2013-03-01 03:00  11.0
3    2013-03-01 04:00  10.3
4    2013-03-01 05:00   9.6
..                ...   ...
739  2013-03-31 20:00   7.1
740  2013-03-31 21:00   6.2
741  2013-03-31 22:00   3.8
742  2013-03-31 23:00   3.0
743  2013-03-31 24:00   2.3

[744 rows x 2 columns]

# 2014년 6월부터 체크

### 2014년 6월 13일

In [25]:
# webdriver로 페이지 접속
driver = webdriver.Chrome("chromedriver_94")
url = "https://weather.naju.go.kr/agri_meteo/agri_time.html"
driver.get(url)
driver.implicitly_wait(5)

# 관측기간 xpath : //*[@id="timed_date"]
# 조회 버튼 xpath : //*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img
search = driver.find_element_by_xpath('//*[@id="timed_date"]')
button = driver.find_element_by_xpath('//*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img')
# 입력창 클릭 후 내용 지우고 입력하기
search.click()
search.clear()
search.send_keys(f"20140613")
button.click()
driver.implicitly_wait(5)

# bs에 담기
page = driver.page_source
soup = BeautifulSoup(page, 'lxml')

# 시간, 기온 기록
td = soup.find_all('td')

In [26]:
soup.title.text

':::나주시 농업기상정보시스템:::'

In [30]:
td[:24]

[<td>2014-06-14 00:00</td>,
 <td>19.1</td>,
 <td>87.2</td>,
 <td>북서</td>,
 <td class="m" style="display: none;">0.2</td>,
 <td class="km" style="display: table-cell;">0.7</td>,
 <td class="m" style="display: none;">2.1</td>,
 <td class="km" style="display: table-cell;">7.6</td>,
 <td>-</td>,
 <td>0.0</td>,
 <td></td>,
 <td>-</td>,
 <td>23.3</td>,
 <td>19.5</td>,
 <td>32.6</td>,
 <td>2014-06-13 23:00</td>,
 <td>19.0</td>,
 <td>87.2</td>,
 <td>북</td>,
 <td class="m" style="display: none;">0.2</td>,
 <td class="km" style="display: table-cell;">0.7</td>,
 <td class="m" style="display: none;">2.6</td>,
 <td class="km" style="display: table-cell;">9.4</td>,
 <td>-</td>]

In [31]:
td[0]

In [32]:
td[1]

In [33]:
td[13]

In [34]:
td[15]

In [35]:
td[16]

In [36]:
for one in td:
    if len(one.text) == 16:
        print(one.text)

2014-06-14 00:00
2014-06-13 23:00
2014-06-13 22:00
2014-06-13 21:00
2014-06-13 20:00
2014-06-13 19:00
2014-06-13 18:00
2014-06-13 17:00
2014-06-13 16:00
2014-06-13 15:00
2014-06-13 14:00
2014-06-13 13:00
2014-06-13 12:00
2014-06-13 11:00
2014-06-13 10:00
2014-06-13 09:00
2014-06-13 08:00
2014-06-13 07:00
2014-06-13 06:00
2014-06-13 05:00
2014-06-13 04:00
2014-06-13 03:00
2014-06-13 02:00
2014-06-13 01:00
2014-06-14 00:00
2014-06-13 23:00
2014-06-13 22:00
2014-06-13 21:00
2014-06-13 20:00
2014-06-13 19:00
2014-06-13 18:00
2014-06-13 17:00
2014-06-13 16:00
2014-06-13 15:00
2014-06-13 14:00
2014-06-13 13:00
2014-06-13 12:00
2014-06-13 11:00
2014-06-13 10:00
2014-06-13 09:00
2014-06-13 08:00
2014-06-13 07:00
2014-06-13 06:00
2014-06-13 05:00
2014-06-13 04:00
2014-06-13 03:00
2014-06-13 02:00
2014-06-13 01:00

In [39]:
for i in range(24):
    if len(td[i*15].text) == 16:
        print(td[i*15].text)

2014-06-14 00:00
2014-06-13 23:00
2014-06-13 22:00
2014-06-13 21:00
2014-06-13 20:00
2014-06-13 19:00
2014-06-13 18:00
2014-06-13 17:00
2014-06-13 16:00
2014-06-13 15:00
2014-06-13 14:00
2014-06-13 13:00
2014-06-13 12:00
2014-06-13 11:00
2014-06-13 10:00
2014-06-13 09:00
2014-06-13 08:00
2014-06-13 07:00
2014-06-13 06:00
2014-06-13 05:00
2014-06-13 04:00
2014-06-13 03:00
2014-06-13 02:00
2014-06-13 01:00

In [40]:
for i in range(24):
    j = i*15+1
    if td[j] == nan:
        print(nan)
    else:
        print(td[j].text)

19.1
19.0
19.3
20.6
22.1
23.8
25.9
27.0
28.1
28.6
28.3
28.3
28.2
26.0
24.5
22.3
19.5
17.7
16.9
16.0
16.1
16.5
15.9
16.3

### 2013년 1월 4일 18시 없음 확인

In [41]:
# webdriver로 페이지 접속
driver = webdriver.Chrome("chromedriver_94")
url = "https://weather.naju.go.kr/agri_meteo/agri_time.html"
driver.get(url)
driver.implicitly_wait(5)

# 관측기간 xpath : //*[@id="timed_date"]
# 조회 버튼 xpath : //*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img
search = driver.find_element_by_xpath('//*[@id="timed_date"]')
button = driver.find_element_by_xpath('//*[@id="contents"]/ul/li[2]/form/div/ul[2]/li/img')
# 입력창 클릭 후 내용 지우고 입력하기
search.click()
search.clear()
search.send_keys(f"20130104")
button.click()
driver.implicitly_wait(5)

# bs에 담기
page = driver.page_source
soup = BeautifulSoup(page, 'lxml')

# 시간, 기온 기록
td = soup.find_all('td')

In [42]:
soup.title.text

':::나주시 농업기상정보시스템:::'

In [43]:
td[:24]

[<td>2013-01-05 00:00</td>,
 <td>-10.9</td>,
 <td>83.9</td>,
 <td>동</td>,
 <td class="m" style="display: none;">0.1</td>,
 <td class="km" style="display: table-cell;">0.4</td>,
 <td>1027.1</td>,
 <td>0.0</td>,
 <td></td>,
 <td>-</td>,
 <td>-</td>,
 <td>-</td>,
 <td>-</td>,
 <td>2013-01-04 23:00</td>,
 <td>-8.6</td>,
 <td>77.6</td>,
 <td>북</td>,
 <td class="m" style="display: none;">1.7</td>,
 <td class="km" style="display: table-cell;">6.1</td>,
 <td>1027.7</td>,
 <td>0.0</td>,
 <td></td>,
 <td>-</td>,
 <td>-</td>]

In [44]:
for i in range(24):
    if len(td[i*13].text) == 16:
        print(td[i*13].text)

2013-01-05 00:00
2013-01-04 23:00
2013-01-04 22:00
2013-01-04 21:00
2013-01-04 20:00
2013-01-04 19:00
2013-01-04 17:00
2013-01-04 16:00
2013-01-04 15:00
2013-01-04 14:00
2013-01-04 13:00
2013-01-04 12:00
2013-01-04 11:00
2013-01-04 10:00
2013-01-04 09:00
2013-01-04 08:00
2013-01-04 07:00
2013-01-04 06:00
2013-01-04 05:00
2013-01-04 04:00
2013-01-04 03:00
2013-01-04 02:00
2013-01-04 01:00
2013-01-05 00:00

In [128]:
for i in range(24):
    j = i*13+1
    if td[j] == nan:
        print(nan)
    else:
        print(td[j].text)

-10.9
-8.6
-8.0
-7.0
-6.5
-6.0
-3.2
-1.8
-1.6
-2.1
-2.4
-3.3
-4.5
-6.3
-8.0
-10.3
-10.5
-9.8
-11.6
-11.2
-11.1
-10.6
-9.1
-10.9