In [1]:
import pandas as pd

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.linear_model import LinearRegression

In [4]:
df = pd.read_csv('2013-2018년_가스공급량과_기온2.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,연월일,시간,구분,공급량,year,month,day,weekday,기온
0,0,0,2013-01-01,1,0,2497.129,2013,1,1,1,-6.4
1,1,1,2013-01-01,1,1,2169.093,2013,1,1,1,-6.4
2,2,2,2013-01-01,1,2,226.178,2013,1,1,1,-6.4
3,3,3,2013-01-01,1,3,1434.516,2013,1,1,1,-6.4
4,4,4,2013-01-01,1,4,3272.837,2013,1,1,1,-6.4

In [5]:
# col 선택 : year, month, day, 시간, 기온
# 타겟 : 공급량

# 데이터 확인

In [9]:
col = ['year', 'month', 'day', '시간', '기온', '공급량']
df_col = df[col]
df_col.head()

   year  month  day  시간   기온       공급량
0  2013      1    1   1 -6.4  2497.129
1  2013      1    1   1 -6.4  2169.093
2  2013      1    1   1 -6.4   226.178
3  2013      1    1   1 -6.4  1434.516
4  2013      1    1   1 -6.4  3272.837

### 데이터 시각화로 확인

In [10]:
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
### 정규화, 표준화
col = ['year', 'month', 'day', '시간', '기온']
X = df[col]
y = df['공급량']

# 정규화
mmscaler = MinMaxScaler()
m_X = mmscaler.fit_transform(X)
# 표준화
sscaler = StandardScaler()
s_m_X = sscaler.fit_transform(m_X)

### 데이터 분할

In [37]:
X_train, X_test, y_train, y_test = train_test_split(s_m_X, y, random_state=0)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((276066, 5), (92022, 5), (276066,), (92022,))

In [39]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

### 교차 검증

In [40]:
from sklearn.model_selection import cross_val_score, KFold

In [43]:
kfold = KFold(shuffle=True)
scores = cross_val_score(model, X_test, y_test, cv=kfold, scoring='neg_mean_squared_error')

print(f"훈련 결정계수 = {model.score(X_train, y_train)}")
print(f"테스트 결정계수 = {model.score(X_test, y_test)}")
print(f"MSE = {-scores.mean()}")

훈련 결정계수 = 0.2657516396162296
테스트 결정계수 = 0.26371252420825086
MSE = 634885.9162768776