### 년도 별 파일 불러와 월별 합계 구하기
* 파일을 순차적으로 불러오기
* 월별 승하차 인원 합계 구하기
* 월별로 데이터 셋으로 만들기 
* 월별 데이터셋 하나로 합치기
* csv 파일로 만들기

### 파일 불러오기
* 경로 : ./년도/01월 서울시 교통량 조사자료.xlsx

In [163]:
import pandas as pd

# 정리
* 2017년(해결 중...)
    * G열 부터 시작(6열)
    * 4월 오류 해결중...
* 2018년(정상)
    * 시트 2개. 필요 시트 2번째
    * G열 부터 시작(6열)
* 2019년(해결)
    * 시트 2개. 필요 시트 2번째
    * G열 부터 시작(6열)
        * 1월 H열 부터 시작(7열)
* 2020년(해결)
    * 시트 2개. 필요 시트 2번째
    * G열 부터 시작(6열)
        * 2, 12월 H열 부터 시작(7열)
* 2021년(정상)
    * 시트 2개. 필요 시트 2번째
    * G열 부터 시작(6열)

#### 테스트

In [3]:
# 2017년 파일 불러오기
test = pd.read_excel('./2017/01월 서울시 교통량 조사자료.xlsx')
test.head()

,일자,요일,지점명,지점번호,구분,방향,0시,1시,2시,3시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,20170101,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,624.0,656.0,408.0,313.0,...,1396.0,1560.0,1613.0,1488.0,1339.0,1036.0,966.0,937.0,792.0,566.0
1,20170102,월,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,349.0,258.0,154.0,151.0,...,1620.0,1840.0,1742.0,1932.0,1913.0,1474.0,1289.0,1318.0,1211.0,967.0
2,20170103,화,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,632.0,456.0,335.0,248.0,...,1883.0,2028.0,2092.0,2048.0,2105.0,1764.0,1389.0,1348.0,1364.0,1016.0
3,20170104,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,709.0,505.0,362.0,286.0,...,1915.0,1946.0,2062.0,2129.0,2106.0,1699.0,1387.0,1430.0,1254.0,1001.0
4,20170105,목,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,718.0,543.0,370.0,291.0,...,1778.0,2010.0,1966.0,2221.0,2198.0,1726.0,1362.0,1405.0,1319.0,1044.0

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8862 entries, 0 to 8861
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      8862 non-null   int64
 1   요일      8862 non-null   object
 2   지점명     8862 non-null   object
 3   지점번호    8862 non-null   object
 4   구분      8862 non-null   object
 5   방향      8862 non-null   object
 6   0시      5748 non-null   float64
 7   1시      5708 non-null   float64
 8   2시      5677 non-null   float64
 9   3시      5673 non-null   float64
 10  4시      5684 non-null   float64
 11  5시      5678 non-null   float64
 12  6시      5680 non-null   float64
 13  7시      5677 non-null   float64
 14  8시      5674 non-null   float64
 15  9시      5674 non-null   float64
 16  10시     5697 non-null   float64
 17  11시     5714 non-null   float64
 18  12시     5721 non-null   float64
 19  13시     5722 non-null   float64
 20  14시     5719 non-null   float64
 21  15시     5722 non-null   float64
 22  16시     5732 non-null   float64
 23  17시     5740 non-null   float64
 24  18시     5728 non-null   float64
 25  19시     5731 non-null   float64
 26  20시     5725 non-null   float64
 27  21시     5726 non-null   float64
 28  22시     5726 non-null   float64
 29  23시     5635 non-null   float64
dtypes: float64(24), int64(1), object(5)
memory usage: 2.0+ MB

In [6]:
test.loc[test['0시'].isnull(), '0시']

39     NaN
40     NaN
41     NaN
42     NaN
43     NaN
        ..
8545   NaN
8548   NaN
8549   NaN
8550   NaN
8551   NaN
Name: 0시, Length: 3114, dtype: float64

In [7]:
test.iloc[39, 6]

nan

In [10]:
a = test.iloc[39, 6]
b = test.iloc[40, 6]
c = 7
print(a + b, a + c)
# nan 값에는 어떤 값을 더해도 nan값이 나옴

nan nan

In [12]:
test.iloc[:, 6]

0        624.0
1        349.0
2        632.0
3        709.0
4        718.0
         ...
8857    2572.0
8858    1568.0
8859    1650.0
8860    1565.0
8861    1711.0
Name: 0시, Length: 8862, dtype: float64

In [13]:
# nan 값 0으로 채우기

for i in range(6, 30):
    test.iloc[:, i] = test.iloc[:, i].fillna(0)

test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8862 entries, 0 to 8861
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      8862 non-null   int64
 1   요일      8862 non-null   object
 2   지점명     8862 non-null   object
 3   지점번호    8862 non-null   object
 4   구분      8862 non-null   object
 5   방향      8862 non-null   object
 6   0시      8862 non-null   float64
 7   1시      8862 non-null   float64
 8   2시      8862 non-null   float64
 9   3시      8862 non-null   float64
 10  4시      8862 non-null   float64
 11  5시      8862 non-null   float64
 12  6시      8862 non-null   float64
 13  7시      8862 non-null   float64
 14  8시      8862 non-null   float64
 15  9시      8862 non-null   float64
 16  10시     8862 non-null   float64
 17  11시     8862 non-null   float64
 18  12시     8862 non-null   float64
 19  13시     8862 non-null   float64
 20  14시     8862 non-null   float64
 21  15시     8862 non-null   float64
 22  16시     8862 non-null   float64
 23  17시     8862 non-null   float64
 24  18시     8862 non-null   float64
 25  19시     8862 non-null   float64
 26  20시     8862 non-null   float64
 27  21시     8862 non-null   float64
 28  22시     8862 non-null   float64
 29  23시     8862 non-null   float64
dtypes: float64(24), int64(1), object(5)
memory usage: 2.0+ MB

In [14]:
# 각 열별 합 구하기
col_sum = []
for i in range(6, 30):
    tmp = test.iloc[:,i].sum()
    col_sum.append(tmp)
    
col_sum

[5869638.0,
 4442140.0,
 3414605.0,
 2903340.0,
 3037727.0,
 4686328.0,
 8039774.0,
 10616278.0,
 11833115.0,
 12053282.0,
 12236348.0,
 12319779.0,
 12037331.0,
 12520401.0,
 12681349.0,
 12770867.0,
 12797774.0,
 12592235.0,
 12198852.0,
 11219798.0,
 10353042.0,
 10188863.0,
 9367879.0,
 7472823.0]

In [16]:
# 한 달 총 합
# 각 열별 합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = test.iloc[:,i].sum()
    month_sum += tmp
    
month_sum

227653568.0

In [78]:
# 4월
test4 = pd.read_excel('./2017/04월 서울시 교통량 조사자료.xlsx')
test4.head()

,일자,요일,지점명,지점번호,구분,방향,0시,1시,2시,3시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,20170401,토,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,854.0,659.0,476.0,455.0,...,1826.0,1825.0,1939.0,2116.0,1978.0,1420.0,1264.0,1258.0,1204.0,923.0
1,20170402,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,654.0,456.0,324.0,276.0,...,1583.0,1677.0,1633.0,1719.0,1727.0,1452.0,1228.0,1172.0,874.0,689.0
2,20170403,월,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,479.0,323.0,214.0,195.0,...,1891.0,2155.0,2075.0,2258.0,2288.0,1823.0,1416.0,1603.0,1390.0,1045.0
3,20170404,화,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,655.0,467.0,320.0,225.0,...,1776.0,2096.0,2173.0,2331.0,2362.0,1978.0,1545.0,1639.0,1538.0,1134.0
4,20170405,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,750.0,574.0,362.0,250.0,...,1834.0,1942.0,2084.0,2250.0,2172.0,1957.0,1607.0,1495.0,1212.0,892.0

In [79]:
test4.tail()

,일자,요일,지점명,지점번호,구분,방향,0시,1시,2시,3시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
8193,20170425,화,서부간선도로,F-09,유출,목동교->신정교,2406.0,1606.0,1114.0,875.0,...,2706.0,3117.0,3137.0,3199.0,3117.0,2898.0,2487.0,3132.0,3152.0,3111.0
8194,20170426,수,서부간선도로,F-09,유출,목동교->신정교,2650.0,1717.0,1179.0,846.0,...,3116.0,3127.0,3084.0,2927.0,3092.0,3001.0,2993.0,3082.0,3027.0,3178.0
8195,20170427,목,서부간선도로,F-09,유출,목동교->신정교,2573.0,1930.0,1281.0,918.0,...,3160.0,3171.0,3037.0,2877.0,3037.0,3015.0,3035.0,3068.0,3018.0,3151.0
8196,20170428,금,서부간선도로,F-09,유출,목동교->신정교,2802.0,2052.0,1357.0,1030.0,...,2703.0,2595.0,2752.0,794.0,2681.0,2592.0,2884.0,2994.0,2892.0,3138.0
8197,20170430,일,서부간선도로,F-09,유출,목동교->신정교,NaN,NaN,NaN,NaN,...,2777.0,3152.0,2800.0,3066.0,3107.0,2959.0,2945.0,2979.0,2989.0,2723.0

In [80]:
test4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8198 entries, 0 to 8197
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      8198 non-null   int64
 1   요일      8198 non-null   object
 2   지점명     8198 non-null   object
 3   지점번호    8198 non-null   object
 4   구분      8198 non-null   object
 5   방향      8138 non-null   object
 6   0시      6914 non-null   float64
 7   1시      6909 non-null   float64
 8   2시      6875 non-null   float64
 9   3시      6867 non-null   float64
 10  4시      6880 non-null   float64
 11  5시      6889 non-null   float64
 12  6시      6948 non-null   object
 13  7시      6956 non-null   float64
 14  8시      6973 non-null   float64
 15  9시      7012 non-null   float64
 16  10시     6997 non-null   float64
 17  11시     6979 non-null   float64
 18  12시     6975 non-null   float64
 19  13시     6952 non-null   float64
 20  14시     6939 non-null   float64
 21  15시     6940 non-null   float64
 22  16시     6948 non-null   float64
 23  17시     6966 non-null   float64
 24  18시     6987 non-null   float64
 25  19시     7001 non-null   float64
 26  20시     7008 non-null   float64
 27  21시     7010 non-null   float64
 28  22시     6960 non-null   float64
 29  23시     6838 non-null   float64
dtypes: float64(23), int64(1), object(6)
memory usage: 1.9+ MB

In [81]:
# nan 값 0으로 채우기

for i in range(6, 30):
    test4.iloc[:, i] = test4.iloc[:, i].fillna(0)

test4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8198 entries, 0 to 8197
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      8198 non-null   int64
 1   요일      8198 non-null   object
 2   지점명     8198 non-null   object
 3   지점번호    8198 non-null   object
 4   구분      8198 non-null   object
 5   방향      8138 non-null   object
 6   0시      8198 non-null   float64
 7   1시      8198 non-null   float64
 8   2시      8198 non-null   float64
 9   3시      8198 non-null   float64
 10  4시      8198 non-null   float64
 11  5시      8198 non-null   float64
 12  6시      8198 non-null   object
 13  7시      8198 non-null   float64
 14  8시      8198 non-null   float64
 15  9시      8198 non-null   float64
 16  10시     8198 non-null   float64
 17  11시     8198 non-null   float64
 18  12시     8198 non-null   float64
 19  13시     8198 non-null   float64
 20  14시     8198 non-null   float64
 21  15시     8198 non-null   float64
 22  16시     8198 non-null   float64
 23  17시     8198 non-null   float64
 24  18시     8198 non-null   float64
 25  19시     8198 non-null   float64
 26  20시     8198 non-null   float64
 27  21시     8198 non-null   float64
 28  22시     8198 non-null   float64
 29  23시     8198 non-null   float64
dtypes: float64(23), int64(1), object(6)
memory usage: 1.9+ MB

In [82]:
test4.tail()

,일자,요일,지점명,지점번호,구분,방향,0시,1시,2시,3시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
8193,20170425,화,서부간선도로,F-09,유출,목동교->신정교,2406.0,1606.0,1114.0,875.0,...,2706.0,3117.0,3137.0,3199.0,3117.0,2898.0,2487.0,3132.0,3152.0,3111.0
8194,20170426,수,서부간선도로,F-09,유출,목동교->신정교,2650.0,1717.0,1179.0,846.0,...,3116.0,3127.0,3084.0,2927.0,3092.0,3001.0,2993.0,3082.0,3027.0,3178.0
8195,20170427,목,서부간선도로,F-09,유출,목동교->신정교,2573.0,1930.0,1281.0,918.0,...,3160.0,3171.0,3037.0,2877.0,3037.0,3015.0,3035.0,3068.0,3018.0,3151.0
8196,20170428,금,서부간선도로,F-09,유출,목동교->신정교,2802.0,2052.0,1357.0,1030.0,...,2703.0,2595.0,2752.0,794.0,2681.0,2592.0,2884.0,2994.0,2892.0,3138.0
8197,20170430,일,서부간선도로,F-09,유출,목동교->신정교,0.0,0.0,0.0,0.0,...,2777.0,3152.0,2800.0,3066.0,3107.0,2959.0,2945.0,2979.0,2989.0,2723.0

In [70]:
test4.iloc[:,12]

0        910
1        609
2       1919
3       1749
4       1693
        ...
8193    3388
8194    3353
8195    3329
8196    3333
8197       0
Name: 6시, Length: 8198, dtype: object

In [71]:
for i in range(len(test4.index)):
    for j in range(6, 30):
        if type(test4.iloc[i,j]) == 'str':
            print(test4.iloc[i,j])

In [59]:
for i in range(len(test4.index)):
    for j in range(6, 30):
        if type(test4.iloc[i,j]) == 'str':
            test4.iloc[i,j] = float(test4.iloc[i,j])

test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8862 entries, 0 to 8861
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      8862 non-null   int64
 1   요일      8862 non-null   object
 2   지점명     8862 non-null   object
 3   지점번호    8862 non-null   object
 4   구분      8862 non-null   object
 5   방향      8862 non-null   object
 6   0시      8862 non-null   float64
 7   1시      8862 non-null   float64
 8   2시      8862 non-null   float64
 9   3시      8862 non-null   float64
 10  4시      8862 non-null   float64
 11  5시      8862 non-null   float64
 12  6시      8862 non-null   float64
 13  7시      8862 non-null   float64
 14  8시      8862 non-null   float64
 15  9시      8862 non-null   float64
 16  10시     8862 non-null   float64
 17  11시     8862 non-null   float64
 18  12시     8862 non-null   float64
 19  13시     8862 non-null   float64
 20  14시     8862 non-null   float64
 21  15시     8862 non-null   float64
 22  16시     8862 non-null   float64
 23  17시     8862 non-null   float64
 24  18시     8862 non-null   float64
 25  19시     8862 non-null   float64
 26  20시     8862 non-null   float64
 27  21시     8862 non-null   float64
 28  22시     8862 non-null   float64
 29  23시     8862 non-null   float64
dtypes: float64(24), int64(1), object(5)
memory usage: 2.0+ MB

In [60]:
test4.iloc[:,12]

0        910
1        609
2       1919
3       1749
4       1693
        ...
8193    3388
8194    3353
8195    3329
8196    3333
8197       0
Name: 6시, Length: 8198, dtype: object

In [83]:
test4.iloc[:,13:30].sum()

7시     13605059.0
8시     14347539.0
9시     14252759.0
10시    14133170.0
11시    13810417.0
12시    13157905.0
13시    13700986.0
14시    13738222.0
15시    14006296.0
16시    14302913.0
17시    14521880.0
18시    14502090.0
19시    13311361.0
20시    12199211.0
21시    11981443.0
22시    11019869.0
23시     8623540.0
dtype: float64

# 2017년

In [75]:
# 2017년 월별 통행량
# G열 부터 시작(6열)
# 4월 오류 해결중...

year_2017 = []
for m in range(1, 13):
    month_dat = pd.read_excel(f'./2017/{m:0>2}월 서울시 교통량 조사자료.xlsx')
    # nan값 0으로 채우기
    for i in range(6, 30):
        month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)

    month_sum = 0
    # 한달 총합 구하기
    for i in range(6, 30):
        tmp = month_dat.iloc[:,i].sum()
        month_sum += tmp
    year_2017.append(month_sum)
year_2017

ValueError: could not convert string to float: ''

## 2017년 4월 에러 해결

In [164]:
# 2017년 월별 통행량
# G열 부터 시작(6열)
# 4월 오류 해결중...

# df = df.apply(pd.to_numeric, errors='coerce').fillna(0)

year_2017 = []
for m in range(1, 13):
    month_dat = pd.read_excel(f'./2017/{m:0>2}월 서울시 교통량 조사자료.xlsx')
    # 에러 값을 nan값으로 바꾼 뒤
    # nan값 0으로 채우기
    for i in range(6, 30):
        month_dat.iloc[:, i] = month_dat.iloc[:, i].apply(pd.to_numeric, errors='coerce').fillna(0)

    month_sum = 0
    # 한달 총합 구하기
    for i in range(6, 30):
        tmp = month_dat.iloc[:,i].sum()
        month_sum += tmp
    year_2017.append(month_sum)
year_2017

[227653568.0,
 214298439.0,
 242598574.0,
 263975550.0,
 295918625.0,
 288598798.0,
 292584832.0,
 302005433.0,
 293008364.0,
 295585441.0,
 282938331.0,
 274825244.0]

In [165]:
# 2017년 1월
month_dat = pd.read_excel('./2017/01월 서울시 교통량 조사자료.xlsx')

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)

# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

227653568.0

In [166]:
# 2017년 2월
month_dat = pd.read_excel('./2017/02월 서울시 교통량 조사자료.xlsx')

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)

# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

214298439.0

In [167]:
# 2017년 3월
month_dat = pd.read_excel('./2017/03월 서울시 교통량 조사자료.xlsx')

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)

# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

242598574.0

## 2017년 4월 오류

In [88]:
# 2017년 4월
# 오류 : int, float 다른 타입 합 안됨.
# could not convert string to float: ''

month_dat = pd.read_excel('./2017/04월 서울시 교통량 조사자료.xlsx')

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
    
# float 타입으로 변환
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].astype(float)

# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

ValueError: could not convert string to float: ''

## 2017년 4월 에러 해결

In [168]:
month_dat = pd.read_excel('./2017/04월 서울시 교통량 조사자료.xlsx')

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].apply(pd.to_numeric, errors='coerce').fillna(0)

# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

263975550.0

In [149]:
month_dat = pd.read_excel('./2017/04월 서울시 교통량 조사자료.xlsx')
# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)

In [150]:
month_dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8198 entries, 0 to 8197
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      8198 non-null   int64
 1   요일      8198 non-null   object
 2   지점명     8198 non-null   object
 3   지점번호    8198 non-null   object
 4   구분      8198 non-null   object
 5   방향      8138 non-null   object
 6   0시      8198 non-null   float64
 7   1시      8198 non-null   float64
 8   2시      8198 non-null   float64
 9   3시      8198 non-null   float64
 10  4시      8198 non-null   float64
 11  5시      8198 non-null   float64
 12  6시      8198 non-null   object
 13  7시      8198 non-null   float64
 14  8시      8198 non-null   float64
 15  9시      8198 non-null   float64
 16  10시     8198 non-null   float64
 17  11시     8198 non-null   float64
 18  12시     8198 non-null   float64
 19  13시     8198 non-null   float64
 20  14시     8198 non-null   float64
 21  15시     8198 non-null   float64
 22  16시     8198 non-null   float64
 23  17시     8198 non-null   float64
 24  18시     8198 non-null   float64
 25  19시     8198 non-null   float64
 26  20시     8198 non-null   float64
 27  21시     8198 non-null   float64
 28  22시     8198 non-null   float64
 29  23시     8198 non-null   float64
dtypes: float64(23), int64(1), object(6)
memory usage: 1.9+ MB

In [141]:
month_dat.iloc[:, 6].value_counts()

0.0       1284
388.0       13
369.0       13
317.0       12
812.0       12
          ...
1699.0       1
1954.0       1
2113.0       1
1439.0       1
2892.0       1
Name: 0시, Length: 2216, dtype: int64

In [142]:
month_dat.iloc[:, 7].value_counts()

0.0       1289
291.0       20
276.0       18
566.0       16
45.0        16
          ...
1941.0       1
1494.0       1
11.0         1
1202.0       1
1755.0       1
Name: 1시, Length: 1872, dtype: int64

In [146]:
month_dat.iloc[:, 29].unique()

array([ 923.,  689., 1045., ..., 3178., 3138., 2723.])

In [147]:
month_dat.iloc[:, 29].dtype

dtype('float64')

In [162]:
for j in range(6, 30):
    for i in range(8198):
        if type(month_dat.iloc[i, j]) == "''":
            print(month_dat.iloc[i, j])

In [161]:
# 원소 걸러내기 실패
for j in range(6, 30):
    for i in range(10):
        if type(month_dat.iloc[i, j]) == 'float':
            print(month_dat.iloc[i, j])

In [89]:
# 2017년 5월
month_dat = pd.read_excel('./2017/05월 서울시 교통량 조사자료.xlsx')

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)

# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

295918625.0

In [90]:
# 2017년 6월
month_dat = pd.read_excel('./2017/06월 서울시 교통량 조사자료.xlsx')

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)

# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

288598798.0

In [91]:
# 2017년 7월
month_dat = pd.read_excel('./2017/07월 서울시 교통량 조사자료.xlsx')

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)

# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

292584832.0

In [92]:
# 2017년 8월
month_dat = pd.read_excel('./2017/08월 서울시 교통량 조사자료.xlsx')

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)

# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

302005433.0

In [93]:
# 2017년 9월
month_dat = pd.read_excel('./2017/09월 서울시 교통량 조사자료.xlsx')

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)

# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

293008364.0

In [94]:
# 2017년 10월
month_dat = pd.read_excel('./2017/10월 서울시 교통량 조사자료.xlsx')

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)

# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

295585441.0

In [95]:
# 2017년 11월
month_dat = pd.read_excel('./2017/11월 서울시 교통량 조사자료.xlsx')

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)

# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

282938331.0

In [96]:
# 2017년 12월
month_dat = pd.read_excel('./2017/12월 서울시 교통량 조사자료.xlsx')

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)

# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

274825244.0

# 2018년

In [100]:
# 2018년 월별 통행량
# 자료 변화가 있는 경우, 범주 탭이 들어가 있음. 두번째 탭에 자료 들어가 있어 오류 발생.
# 2018년 시트 2개. 필요 시트 2번째
# G열 부터 시작(6열)

year_2018 = []
for m in range(1, 13):
    month_dat = pd.read_excel(f'./2018/{m:0>2}월 서울시 교통량 조사자료.xlsx', sheet_name = 1)
    # nan값 0으로 채우기
    for i in range(6, 30):
        month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)

    month_sum = 0
    # 한달 총합 구하기
    for i in range(6, 30):
        tmp = month_dat.iloc[:,i].sum()
        month_sum += tmp
    year_2018.append(month_sum)
year_2018

[231175275.50000003,
 218083825.0,
 262874087.0,
 269400175.0,
 273808519.0,
 269474628.0,
 280537278.0,
 274327730.0,
 265315676.0,
 281863521.0,
 272774028.0,
 275658032.0]

In [ ]:
# 2018년 1월
month_dat = pd.read_excel('./2018/01월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)

# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

# 2019년

In [106]:
# 2019년 월별 통행량

year_2019 = []
for m in range(1, 13):
    month_dat = pd.read_excel(f'./2019/{m:0>2}월 서울시 교통량 조사자료.xlsx', sheet_name = 1)
    # nan값 0으로 채우기
    for i in range(7, 31):
        month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)

    month_sum = 0
    # 한달 총합 구하기
    for i in range(6, 30):
        tmp = month_dat.iloc[:,i].sum()
        month_sum += tmp
    year_2019.append(month_sum)
year_2019

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

### 2019년 1월 (7열 시작)

In [107]:
# 2019년 1월
# H열 부터 시작(7열)

month_dat = pd.read_excel('./2019/01월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(7, 31):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(7, 31):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

293047880.0

In [109]:
# 2019년 2월
# G열 부터 시작(6열)

month_dat = pd.read_excel('./2019/02월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

255946482.0

In [110]:
# 2019년 3월

month_dat = pd.read_excel('./2019/03월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

291462852.0

In [111]:
# 2019년 4월

month_dat = pd.read_excel('./2019/04월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

294804467.0

In [112]:
# 2019년 5월

month_dat = pd.read_excel('./2019/05월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

301733907.0

In [113]:
# 2019년 6월

month_dat = pd.read_excel('./2019/06월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

285145303.0

In [114]:
# 2019년 7월

month_dat = pd.read_excel('./2019/07월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

292395939.0

In [115]:
# 2019년 8월

month_dat = pd.read_excel('./2019/08월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

294338097.0

In [116]:
# 2019년 9월

month_dat = pd.read_excel('./2019/09월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

274872597.0

In [117]:
# 2019년 10월

month_dat = pd.read_excel('./2019/10월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

294622641.0

In [118]:
# 2019년 11월

month_dat = pd.read_excel('./2019/11월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

293036874.0

In [119]:
# 2019년 12월

month_dat = pd.read_excel('./2019/12월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

300392571.0

# 2020년

In [120]:
# 2020년 월별 통행량
# 2020년 시트 3개. 필요 시트 2번째
# G열 부터 시작(6열)

year_2020 = []
for m in range(1, 13):
    month_dat = pd.read_excel(f'./2020/{m:0>2}월 서울시 교통량 조사자료.xlsx', sheet_name = 1)
    # nan값 0으로 채우기
    for i in range(6, 30):
        month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)

    month_sum = 0
    # 한달 총합 구하기
    for i in range(6, 30):
        tmp = month_dat.iloc[:,i].sum()
        month_sum += tmp
    year_2020.append(month_sum)
year_2020

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [121]:
# 2020년 1월

month_dat = pd.read_excel('./2020/01월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

287338914.0

In [124]:
# 2020년 2월
# H열 부터 시작(7열)

month_dat = pd.read_excel('./2020/02월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(7, 31):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)

    
# 한달 총합 구하기
month_sum = 0
for i in range(7, 31):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

264851117.0

In [125]:
# 2020년 3월

month_dat = pd.read_excel('./2020/03월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

276988930.0

In [126]:
# 2020년 4월

month_dat = pd.read_excel('./2020/04월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

275890542.0

In [127]:
# 2020년 5월

month_dat = pd.read_excel('./2020/05월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

291438374.0

In [128]:
# 2020년 6월

month_dat = pd.read_excel('./2020/06월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

284005714.0

In [129]:
# 2020년 7월

month_dat = pd.read_excel('./2020/07월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

292195000.0

In [130]:
# 2020년 8월

month_dat = pd.read_excel('./2020/08월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

264936819.0

In [131]:
# 2020년 9월

month_dat = pd.read_excel('./2020/09월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

257213165.0

In [132]:
# 2020년 10월

month_dat = pd.read_excel('./2020/10월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

269114877.0

In [133]:
# 2020년 11월

month_dat = pd.read_excel('./2020/11월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(6, 30):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(6, 30):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

265591295.0

In [135]:
# 2020년 12월
# H열 부터 시작(7열)

month_dat = pd.read_excel('./2020/12월 서울시 교통량 조사자료.xlsx', sheet_name = 1)

# nan값 0으로 채우기
for i in range(7, 31):
    month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)
   
# 한달 총합 구하기
month_sum = 0
for i in range(7, 31):
    tmp = month_dat.iloc[:,i].sum()
    month_sum += tmp
month_sum

250758537.0

# 2021년

In [136]:
# 2021년 월별 통행량
# 1-8월
# 2021년 시트 3개. 필요 시트 2번째
# G열 부터 시작(6열)

year_2021 = []
for m in range(1, 9):
    month_dat = pd.read_excel(f'./2021/{m:0>2}월 서울시 교통량 조사자료.xlsx', sheet_name = 1)
    # nan값 0으로 채우기
    for i in range(6, 30):
        month_dat.iloc[:, i] = month_dat.iloc[:, i].fillna(0)

    month_sum = 0
    # 한달 총합 구하기
    for i in range(6, 30):
        tmp = month_dat.iloc[:,i].sum()
        month_sum += tmp
    year_2021.append(month_sum)
year_2021

[224991142.0,
 226646249.0,
 259563380.0,
 268025747.0,
 266207783.0,
 270112083.0,
 274654659.0,
 269150588.0]

# 정리
* 2017년(해결 중...)
    * G열 부터 시작(6열)
    * 4월 오류 해결중...
* 2018년(정상)
    * 시트 2개. 필요 시트 2번째
    * G열 부터 시작(6열)
* 2019년(해결)
    * 시트 2개. 필요 시트 2번째
    * G열 부터 시작(6열)
        * 1월 H열 부터 시작(7열)
* 2020년(해결)
    * 시트 2개. 필요 시트 2번째
    * G열 부터 시작(6열)
        * 2, 12월 H열 부터 시작(7열)
* 2021년(정상)
    * 시트 2개. 필요 시트 2번째
    * G열 부터 시작(6열)