# 설명
* pycaret_robust_finalized.csv(김진연님 제출 파일)
    * 0.1025363015(2021-12-07 10:02:37)
    * 기온, 기압, 습도(top3 평균)
    * 공급량 cat,lgbm,xgb, robust,  fianl, 평균
* sub37_pycaret25(ver2.8).csv(내 제출 파일)
    * 0.1027045494(2021-12-07 09:47:27)
    * 기온, 기압(top3 평균)
    * 공급량 cat, lgbm, 이상치(0.1), 평균
* 두 제출 파일 평균
* private 점수 :

In [5]:
# private 점수 :

In [6]:
import pandas as pd

In [7]:
sub01 = pd.read_csv('../07_결과_출력/pycaret_robust_finalized.csv')
sub02 = pd.read_csv('../07_결과_출력/sub37_pycaret25(ver2.8).csv')

In [8]:
sub01.head()

          일자|시간|구분          공급량
0  2019-01-01 01 A  1959.137757
1  2019-01-01 02 A  1863.066870
2  2019-01-01 03 A  1756.274448
3  2019-01-01 04 A  1787.094551
4  2019-01-01 05 A  1875.587556

In [9]:
sub02.head()

          일자|시간|구분          공급량
0  2019-01-01 01 A  1992.672420
1  2019-01-01 02 A  1792.808299
2  2019-01-01 03 A  1752.039440
3  2019-01-01 04 A  1742.954005
4  2019-01-01 05 A  1926.083749

In [10]:
team_sub = (sub01['공급량'] + sub02['공급량']) / 2
team_sub.head()

0    1975.905088
1    1827.937585
2    1754.156944
3    1765.024278
4    1900.835653
Name: 공급량, dtype: float64

# 제출 파일 만들기

In [11]:
# 제출 파일 불러오기
sub = pd.read_csv('../data/sample_submission.csv')
sub.head()

          일자|시간|구분  공급량
0  2019-01-01 01 A    0
1  2019-01-01 02 A    0
2  2019-01-01 03 A    0
3  2019-01-01 04 A    0
4  2019-01-01 05 A    0

In [12]:
sub['공급량'] = team_sub
sub.head()

          일자|시간|구분          공급량
0  2019-01-01 01 A  1975.905088
1  2019-01-01 02 A  1827.937585
2  2019-01-01 03 A  1754.156944
3  2019-01-01 04 A  1765.024278
4  2019-01-01 05 A  1900.835653

In [13]:
sub.to_csv("team_sub_ver0.3.csv", index=False)